@charset "utf-8";

*{
  margin:0;padding:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-collapse: collapse;
}
html{
  font-size:10px; height:100%;
}
body{
  background-color:#202124; color:#e8eaed; font-size:1.5rem; font-family:-apple-system,BlinkMacSystemFont,'Malgun Gothic','맑은고딕',helvetica,'Apple SD Gothic Neo',sans-serif;
  background-image: url('/resource/home/images/BG_image.webp');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
@keyframes fadein {
  from {opacity:1;}
  to {opacity:0;}
}
footer{
  padding:15px 0; bottom:0; width:100%; font-size:15px; text-align:center; font-weight:bold;
  border-top:1px solid rgba(128, 128, 128, 0.3);
  backdrop-filter:blur(25px);
}
.container{
  width:1200px;
  text-align:center;
  margin-left:auto; margin-right:auto;
  justify-content:center;
  align-items:center;
}
.center{
  text-align:center;
  margin-left:auto; margin-right:auto;
  justify-content:center;
  align-items:center;
}
.vertical_center{
  position:relative;top:50%;transform:translate(0,-50%);
}
.text_left{
  text-align:left;
}
.title{
  margin-top:15rem;
  margin-bottom:5rem;
}
.bg{
  position:fixed;
  top:50%;
  left:50%;
  z-index:-100;
  transform:translate(-50%, -50%);
  pointer-events:none;
}
ul,ol,li{
  list-style:none;
}
h1{
  font-size:3.8rem;
}
h2{
  font-size:2.4rem;
}
h3{
  font-size:3.2rem;
}
h4{
  font-size:2.2rem;
}
p{
  font-size:1.5rem;
}
a{
  text-decoration:none; color:#e8eaed; cursor:pointer;
}
img{
  width:auto;
}
span{
  display:inline-block;
}
.overlay-fadein{
  pointer-events:none;position:fixed; left:0; top:0; z-index:999; width:100%; height:100%; background:#000;
  animation:fadein 500ms ease-out;
  opacity:0;
}

main{
  height: calc(var(--vh, 1vh) * 100);
  overflow:auto;
  scroll-snap-type:y mandatory;
}
.footer{
  height:calc(var(--vh, 1vh) * 100 - 71px);
}
main::-webkit-scrollbar{
  width:8px;
}
main::-webkit-scrollbar-thumb{
  background-color:rgb(192,192,192);
  border-radius: 10px;    
}
main::-webkit-scrollbar-track{
  background-color:rgb(0,0,0);
}
.section{
  height:100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow:auto;
  scroll-snap-align:start;
}

.section#main{
  background-image: url('/resource/home/images/main.webp');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.section#what{
  background-image: url('/resource/home/images/main2.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.section#main h1#main_txt{
  font-size:4.8rem;
  animation:sizeup 2000ms ease-out;
}
@keyframes sizeup {
  from {transform:scale(.65);}
  to {transform:scale(1);}
}
.section#main h2#main_txt{
  animation:show 3000ms ease-out;
}
@keyframes show {
  0%{opacity:0%;}
  33%{opacity:0%;}
  100%{opacity:100%;}
}
.section#minecraft-main{
  background-image: url('/resource/minecraft/images/main.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.section#minecraft-main h1#main_txt{
  font-size:5rem;
  animation:sizeup 2000ms ease-out;
}
.section#minecraft-main h2#main_txt{
  animation:show 3000ms ease-out;
}
.section#minecraft-about{
  background-image: url('/resource/minecraft/images/about.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.section#minecraft-about2{
  background-image: url('/resource/minecraft/images/about2.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.dim{
  position:fixed; left:0; top:0; z-index:99; width:100%; height:100%;
}
.dim:not(.on){
  display:none;
}
header{
  position:fixed; z-index:100; top:0; width:100%;
}
header *{
  color:#e8eaed; font-weight: bold;
}
header nav{
  height:51px;
}
header.on nav{
  box-shadow:20px 20px 25px rgba(0, 0, 0, 0.5);
  background-color:rgba(192, 192, 192, 0.2);
  backdrop-filter:blur(5px);
}
header nav , header nav *{
  transition:.25s;
}
header.on nav .top_menu{
  padding:0;
}
.all_menu{
  padding:1rem;
}
.all_menu:hover{
  cursor:pointer;
}
.all_menu .line{
  float:none;
  width:3rem;
  height:.3rem;
  border-radius:10px;
  background-color:#CDCDCD;
  display:block;
  margin:.55rem;
  transition:all 0.4s ease-in-out;
}
.all_menu.on .line:nth-child(1){
  transform: translateY(.85rem) rotate(40deg);
}
.all_menu.on .line:nth-child(2){
  opacity:0;
}
.all_menu.on .line:nth-child(3){
  transform: translateY(-.85rem) rotate(-40deg);
}
div.top_menu .home{
  padding:0 2.5rem;
}
div.top_menu .home a img{
  height:5.1rem; padding:1.2rem;
}
div.top_menu{
  margin:0 auto; padding:2.5em 0rem; width:1320px;
}
div.top_menu > span{
  float:left;
  height:auto;
  background:none;
  border:0;
}
div.top_menu .page > *, div.top_menu * .page{
  display:inline-block;
  padding:1.5rem 2.5rem;
}
div.top_menu span, .top_menu .page{
  text-align:center; font-size:1.6rem; border-radius:.5rem;
}
div.top_menu .dropdown_menu span{
  border-radius:.5rem .5rem 0 0;
}
div.top_menu span > .page:hover a, div.top_menu span > .page:hover span{
  text-shadow:0 0 .8rem #FFF;
}
div.top_menu .user_menu{
  border-radius:.75rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 128, 255, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
  float:right;
}
div.top_menu > .page:hover, div.top_menu > .all_menu:hover, div.top_menu > span > .page:hover{
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, .2);
}
div.top_menu .searchBar{
  float:right;
}
.dropdown_menu {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  opacity:0;
  pointer-events:none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-radius:.5rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(192, 192, 192, 0.2);
}
.dropdown_content li{
  padding: 12px 16px;
}
.dropdown_content li:first-child{
  border-radius:.5rem .5rem 0rem 0rem;
}
.dropdown_content li:last-child{
  border-radius:0rem 0rem .5rem .5rem;
}
.dropdown_content li:hover {
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, .2);
}
.dropdown_menu:hover .dropdown_content {opacity:1;pointer-events:unset;}

div.side_menu{
  position:fixed; left:-120%; top:0; padding:0 1.5rem; width:30rem; height:100%;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter:blur(25px);
  transition:left .4s;
}
div.side_menu.on{
  left:0%;
}
div.side_menu ul *{
  text-align:left; font-size:2rem; cursor:pointer; border-radius:.5rem;
  transition:.25s;
}
div.side_menu ul li.home{
  margin:1rem 0 3rem 0;
}
div.side_menu ul li.home a img{
  margin-left:auto; margin-right:auto; height:3.2rem; padding:0;
}
div.side_menu ul li:hover:not(.home){
  text-shadow:0 0 .8rem #FFF;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, .2);
}
div.side_menu ul li.active{
  text-shadow:0 0 .8rem #FFF;
  background-color:rgba(128, 128, 128, .5);
}
div.side_menu ul li:hover + ul{
  padding-left:0%; padding-right:2%;
}
div.side_menu ul li *{
  display:block; padding:1.2rem;
}
div.alert{
  text-align:center;
}

input[type=text], input[type=password], textarea{
  border:none; width:400px; font-size:1.5rem; margin:1rem 0; outline:none; padding:1.5rem 1rem; border-radius:.5rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(192, 192, 192, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
  transition:.25s;
}
input[type=text]::placeholder, input[type=password]::placeholder, textarea::placeholder{
  color:#AAA;
}
input[type=text]:hover, input[type=password]:hover, textarea:hover{
  background-color:rgba(0, 0, 0, .2);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus{
  box-shadow:0 0 2rem 0 #0080FF;
}
.button{
  width:auto; color:#e8eaed; border:none; padding:1.5rem 2rem 1.5rem 2rem; text-align:center; text-decoration:none; display:inline-block; font-size:1.5rem; margin:0.4rem; cursor:pointer; border-radius:.5rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(192, 192, 192, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
  transition:.25s;
}
.button:hover{
  text-shadow:0 0 .8rem #FFF;
  background-color:rgba(0, 0, 0, .2);
}
.popup{
  position:absolute;
  z-index:50;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding: 3rem 0rem 3rem 0rem;
  border-radius:2rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, 0.65);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
}
.popup:not(.on){
  display:none;
}

.searchBar .searchBox{
  margin:0;
  width:20rem;
  margin-left:14rem;
}
.searchBar .searchResult{
  display:none;
  position:absolute;
  padding:1rem;
}
.searchResult{
  padding: 5rem 0rem 5rem 0rem;
  border-radius:2rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
}
.searchBar .searchResult.on{
  display:block;
}
.searchResult > div{
  border-radius:2rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.3);
  background-color:rgba(128, 128, 128, 0.2);
}
.searchResult > div ul{
  font-size:1.5rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.searchResult > div ul li{
  float:left;
  padding:1rem;
}
.searchResult > div ul li:nth-child(1){
  width:10%;
}
.searchResult > div ul li:nth-child(2){
  width:50%;
}
.searchResult > div ul li:nth-child(2) *{
  float:left;
}
.searchResult > div ul li:nth-child(3){
  width:20%;
}
.searchResult > div ul li:nth-child(4){
  width:20%;
}

.video{
  width:540px;
}
.card-download{
  width:2rem;
  opacity:.75;
}

.board{
  padding: 5rem 0rem 5rem 0rem;
  border-radius:2rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
}
.board_list{
  margin:5rem 0rem 5rem 0rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.board_list ul li a *:visited{
  color: rgb(192, 0, 192);
}
.board_list ul li a *:hover{
  text-decoration:underline;
}
.board_list ul li a *.post_comments{
  color:#AAA;
  padding-left:.5rem;
}
.board_list ul{
  display:table;
  width:100%;
  transition:.25s;
}
.board_list ul.odd{
  background-color:rgba(128, 128, 128, .2);
}
.board_list ul:hover:not(.table_header){
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(192, 192, 192, 0.2);
}
.board_list ul{
  font-size:1.5rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.board_list ul li{
  float:left;
  padding:1rem;
}
.board_list ul li:nth-child(1){
  width:10%;
}
.board_list ul li:nth-child(2){
  width:50%;
}
.board_list ul li:nth-child(2) a:visited{
  color:#f185ff;
}
.board_list ul li:nth-child(2) *{
  float:left;
}
.board_list ul li:nth-child(3){
  width:15%;
}
.board_list ul li:nth-child(4){
  width:15%;
}
.board_list ul li:nth-child(5){
  width:10%;
}
.post{
  width:100%;
  padding:0rem 5rem 20rem 5rem;
}
.post > div:not(.post_content) > *{
  float:left;
  font-size:1.5rem;
}
.post .post_title{
  width:100%;
  font-size:1.8rem;
  text-align:left;
  margin-bottom:1rem;
}
.post .post_date{
  float:right;
  width:auto;
  text-align:right;
  margin-left:2.5rem;
}
.post .post_hit{
  float:right;
  width:auto;
  text-align:right;
}
.post .post_hit::before{
  content:"조회 ";
}
.post .post_comments{
  float:right;
  width:auto;
  text-align:right;
  margin-right:2.5rem;
}
.post .post_comments::after{
  content:" 댓글";
}
.post .post_content{
  width:100%;
  margin:5rem 0rem 5rem 0rem;
}
.post .post_content div{
  text-align:left;
}
.comment_list{
  padding:0rem 5rem 0rem 5rem;
}
.comment_list .comment ul{
  display:inline-block;
  width:100%;
}
.comment_list .comment ul li{
  margin-right:2.5rem;
  float:left;
}
.comment_list .comment ul li:nth-child(3){
  float:right;
}
.comment_write{
  padding:0rem 5rem 0rem 5rem;
}
.page_num *{
  width:auto; color:#D8D8D8; border:none; padding:1.5rem 2rem 1.5rem 2rem; text-align:center; text-decoration:none; display: inline-block; font-size:1.5rem; cursor:pointer;
  background-color:rgba(192, 192, 192, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  transition:.25s;
}
.page_num *.active{
  text-shadow:0 0 .2rem #FFF; text-shadow:0 0 .4rem #FFF; text-shadow:0 0 .8rem #FFF;
  background-color:rgba(128, 128, 128, .5);
}
.page_num *:first-child{
  border-radius:1rem 0rem 0rem 1rem;
}
.page_num *:last-child{
  border-radius:0rem 1rem 1rem 0rem;
}
.page_num *:hover{
  text-shadow:0 0 .2rem #FFF; text-shadow:0 0 .4rem #FFF; text-shadow:0 0 .8rem #FFF;
  background-color:rgba(32, 32, 32, .5);
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
}
.note-editable{
  background-color:rgba(255, 255, 255, .5);
}
.information{
  padding: 3rem 0rem 3rem 0rem;
  border-radius:2rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color:rgba(0, 0, 0, 0.2);
  border-top:1px solid rgba(128, 128, 128, 0.3);
  border-left:1px solid rgba(128, 128, 128, 0.3);
}
.class_time{
  border-radius:2rem;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.3);
  background-color:rgba(128, 128, 128, 0.2);
}
.class_time tbody tr td, .class_time tbody tr th{
  padding:1rem 2rem 1rem 2rem;
  font-size:1.6rem;
}
.food{
  display:flex;
}
.food table{
  border-radius:2rem;
  flex:1;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.3);
  background-color:rgba(128, 128, 128, 0.2);
}
.food table tbody tr th{
  padding:2rem 2rem 0rem 2rem;
  font-size:2.5rem;
  font-weight:bold;
}
.food table tbody tr td{
  padding:1rem 2rem 1rem 2rem;
  font-size:1.8rem;
}
.active_time{
  background-color:rgba(32, 32, 32, .65);
  animation:effect-active 1000ms infinite;
}
@keyframes effect-active {
  0% {opacity:1;}
  50% {opacity:.5;}
  100% {opacity:1;}
}
.active_day{
  background-color:rgba(128, 128, 128, .5);
}
.time{
  font-size:2.4rem;
}
.clock{
  font-size:2rem;
}
.food *{
  cursor: pointer;
  transition:.25s;
}
.food table{
  transform: scale(.75);
  opacity:.5;
}
.food .hover-food{
  transform: scale(1);
  opacity:1;
}

.pageAlert{
  opacity:0;
}
.pageAlert.on{
  opacity:1;
}

.launch_minecraft{
  display:none;
}
.minecraft_status h1{
  font-family:minecraftiaregular; font-weight:normal;
}
.status_view{
  display:flex;
  padding:5rem;
  background-image: url('/resource/minecraft/images/minecraft.png');
  border-radius:2rem;
  margin:5rem 0;
}
.status_view *{
  font-size:2.2rem; font-family:minecraftiaregular;
}
.server_left_wrap{
  flex:2;
  display:flex;
}
.server_image{
  display:flex;
  margin:auto 1rem;
  align-items:center;
}
.server_description{
  flex:1;
  display:flex;
  flex-direction:column;
}
.server_top_wrap{
  width:100%;
  flex:1;
}
.minecraft_motd{
  width:100%;
  flex:1;
  float:left;
}
.minecraft_name{
  float:left;
}
.minecraft_serverVersion{
  float:right;
  margin-right:2rem;
  color:#A8A8A8;
}
.minecraft_ping{
  float:right;
  width:30px;
  height:21px;
  margin:7px;
  background-image:url('/resource/minecraft/images/pingError.png');
}
.minecraft_players{
  float:right;
  margin-right:1rem;
  color:#A8A8A8;
}
.minecraft_serverQueryTime{
  float:right;
  margin-right:2rem;
  color:#A8A8A8;
}
.server_right_wrap{
  flex:1;
}
.minecraft_playersName ul{
  display:flex;
  flex-flow:wrap;
}
.minecraft_playersName ul li{
  width:50%;
}