<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../../common/head') %>
    <title>비밀번호 재설정</title>
</head>
<body>
    <%- include('../../common/common') %>
    <%- include('../../common/accountBox') %>
    <script>
        popup.noClose = true;
        $('#pw_reset_box .popup_close_button')? $('#pw_reset_box .popup_close_button').style.display = 'none': undefined;
        popupOpen($('#pw_reset_box'));
        account.pwEditCallback = () => {
            window.location = '/';
        }
    </script>
</body>
</html>