@charset "utf-8";
.section{
  height:100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow:auto;
  scroll-snap-align:start;
}
@keyframes sizeup {
  from {transform:scale(.65);}
  to {transform:scale(1);}
}
.section#main #sub_txt{
  animation:show 3000ms ease-out;
}
@keyframes show {
  0%{opacity:0%;}
  33%{opacity:0%;}
  100%{opacity:100%;}
}
.section#minecraft-main{
  background-image: url('/resource/minecraft/images/main.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.section#minecraft-main h1#main_txt{
  font-size:5rem;
  animation:sizeup 2000ms ease-out;
}
.section#minecraft-main h2#main_txt{
  animation:show 3000ms ease-out;
}
.section#minecraft-about{
  background-image: url('/resource/minecraft/images/about.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.minecraft_status h1{
  font-family:minecraftiaregular; font-weight:normal;
}
.status_view{
  display:flex;
  padding:5rem;
  background-image: url('/resource/minecraft/images/minecraft.png');
  border-radius:2rem;
  margin:5rem 0;
}
.status_view *{
  font-size:2.2rem; font-family:minecraftiaregular;
}
.server_left_wrap{
  flex:2;
  display:flex;
}
.server_image{
  display:flex;
  margin:auto 1rem;
  align-items:center;
}
.server_description{
  flex:1;
  display:flex;
  flex-direction:column;
}
.server_top_wrap{
  width:100%;
  flex:1;
}
.minecraft_motd{
  width:100%;
  flex:1;
  float:left;
}
.minecraft_name{
  float:left;
}
.minecraft_serverVersion{
  float:right;
  margin-right:2rem;
  color:#A8A8A8;
}
.minecraft_ping{
  float:right;
  width:30px;
  height:21px;
  margin:7px;
  background-image:url('/resource/minecraft/images/pingError.png');
}
.minecraft_players{
  float:right;
  margin-right:1rem;
  color:#A8A8A8;
}
.minecraft_serverQueryTime{
  float:right;
  margin-right:2rem;
  color:#A8A8A8;
}
.server_right_wrap{
  flex:1;
}
.minecraft_playersName ul{
  display:flex;
  flex-flow:wrap;
}
.minecraft_playersName ul li{
  width:50%;
}