<html lang="kr">
<head>
    <%- include('../../common/head') %>
    <title>BSM Auth</title>
    <meta property="title" content="BSM Auth">
    <meta property="description" content="BSM Auth 서비스">
    <meta property="og:title" content="BSM Auth">
    <meta property="og:description" content="BSM Auth 서비스">
    <link rel="stylesheet" type="text/css" href="/css/pages/oauth/home.css">
</head>
<body>
    <main>
        <div>
            <h1 class="main">BSM Auth</h1>
            <p class="main">복잡한 회원 인증을 간편하게</p>
            <a href="#" class="button">준비 중</a>
        </div>
    </main>
    <%- include('../../common/common') %>
</body>
</html>