<header>
    <nav>
        <div class="top_menu">
            <div class="left_wrap">
                <span class="top_menu_item home"><a href="/" class="logo"><img src="/icons/logo.png" alt="로고"></a></span>
                <span class="top_menu_item all_menu" onclick="$('.side_menu').classList.add('on');">
                    <span class="line_wrap">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </span>
                <span class="top_menu_item dropdown_menu">
                    <span class="menu_item">학교</span>
                    <ul class="dropdown_content">
                        <li><a href="/timetable" class="option">시간표</a></li>
                        <li><a href="/meister" class="option">마이스터 인증제</a></li>
                        <li><a href="https://school.busanedu.net/bssm-h/main.do" class="option">학교 홈페이지</a></li>
                    </ul>
                </span>
                <span class="top_menu_item"><a href="/meal" class="menu_item">급식</a></span>
                <span class="top_menu_item dropdown_menu">
                    <span class="menu_item">커뮤니티</span>
                    <ul class="dropdown_content">
                        <li><a href="/board/board" class="option">자유게시판</a></li>
                        <li><a href="/board/anonymous" class="option">익명게시판</a></li>
                        <li><a href="/board/notice" class="option">공지사항</a></li>
                        <li><a href="/emoticon" class="option">이모티콘</a></li>
                    </ul>
                </span>
                <span class="top_menu_item"><a href="https://drive.bssm.kro.kr" class="menu_item">BSM Cloud</a></span>
            </div>
            <div class="right_wrap">
                <span class="theme_toggle top_menu_item" onclick="toggleTheme()">
                    <img src="/resource/common/images/theme.svg" alt="theme_toggle">
                </span>
                <span class="top_menu_item dropdown_menu user_menu">
                    <div v-if="user.isLogin" class="user_profile_wrap">
                        <span class="menu_item user_profile_name"><span v-if="user.level>0" class="member_admin">{{userLevel[user.level]}}</span><span>{{user.nickname}}</span></span>
                        <img :src="`/resource/user/profile_images/profile_${user.code}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="" class="user_profile">
                    </div>
                    <ul v-if="user.isLogin" class="dropdown_content">
                        <li><a :href="`/user/${user.code}`" class="option">유저 정보</a></li>
                        <li><a onclick="logout()" class="option">로그아웃</a></li>
                    </ul>
                    <a v-if="!user.isLogin" onclick="showLoginBox()" class="menu_item">로그인</a>
                </span>
            </div>
        </div>
        <div class="notice_bar">
        </div>
    </nav>
    <div class="side_menu">
        <div class="popup_close_button x_button" onClick="$('.side_menu').classList.remove('on')"></div>
        <div class="background" onClick="$('.side_menu').classList.remove('on')"></div>
        <ul>
            <li class="home"><a href="/" class="logo"><img src="/icons/logo.png" alt="로고"></a></li>
            <li class="page"><a href="/timetable">시간표</a></li>
            <li class="page"><a href="/meal">급식</a></li>
            <li class="page"><a href="/meister">마이스터 인증제</a></li>
            <li class="page"><a href="/board/board">자유게시판</a></li>
            <li class="page"><a href="/board/anonymous">익명게시판</a></li>
            <li class="page"><a href="/board/notice">공지사항</a></li>
            <li class="page"><a href="/emoticon">이모티콘</a></li>
            <li class="page"><a href="https://drive.bssm.kro.kr/">BSM Cloud</a></li>
            <li class="page"><a href="https://school.busanedu.net/bssm-h/main.do">학교 홈페이지</a></li>
            <li class="page"><a href="https://github.com/leehj050211/BSM-Frontend">깃허브</a></li>
        </ul>
    </div>
</header>
<script src="/js/header.js"></script>
<div>
    <%- include('../common/accountBox') %>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EVVC0KSD2L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EVVC0KSD2L');
</script>