<% const memberLevel=[
    '',
    '<span class="member_admin">[룸메]</span> ',
    '<span class="member_admin">[교사]</span> ',
    '<span class="member_admin">[관리자]</span> '
]; %>
<div class="overlay-fadein"></div>
<header>
    <nav>
        <div class="top_menu">
            <div class="left_wrap">
                <span class="top_menu_item home"><a href="/" class="logo"><img src="/icons/logo.png" alt="로고"></a></span>
                <span class="top_menu_item all_menu" onclick="$$('.side_menu')[0].classList.add('on');">
                    <span class="line_wrap">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </span>
                </span>
                <span class="top_menu_item dropdown_menu">
                    <span class="page">학교</span>
                    <ul class="dropdown_content">
                        <li><a href="/timetable" class="option">시간표</a></li>
                        <li><a href="/meister" class="option">마이스터 인증제</a></li>
                        <li><a href="https://school.busanedu.net/bssm-h/main.do" class="option">학교 홈페이지</a></li>
                    </ul>
                </span>
                <span class="top_menu_item dropdown_menu">
                    <span class="page">생활</span>
                    <ul class="dropdown_content">
                        <li><a href="/meal" class="option">급식</a></li>
                        <li><a href="/dorm_rule" class="option">기숙사 규정</a></li>
                    </ul>
                </span>
                <span class="top_menu_item dropdown_menu">
                    <span class="page">커뮤니티</span>
                    <ul class="dropdown_content">
                        <li><a href="/board/board" class="option">자유게시판</a></li>
                        <li><a href="/board/anonymous" class="option">익명게시판</a></li>
                        <li><a href="/board/notice" class="option">공지사항</a></li>
                    </ul>
                </span>
                <span class="top_menu_item"><a href="https://github.com/leehj050211/BSM-Frontend" class="page">깃허브</a></span>
            </div>
            <div class="right_wrap">
                <span class="theme_toggle top_menu_item" onclick="toggleTheme()">
                    <img src="/resource/common/images/theme.svg" alt="theme_toggle">
                </span>
                <span class="searchBar top_menu_item">
                    <input type="text" class="searchQuery input_text searchBox" oninput="search()" placeholder="여기에 검색" required>
                    <div class="searchResult">
                        <div class="boardResult">
                            <h2>자유게시판</h2><br>
                            <p v-if="!boardResult.length">검색 결과가 없습니다.<br>단어사이에 띄어쓰기를 하거나 검색어를 조금더 길게 적어주세요</p>
                            <ul v-for="item in boardResult">
                                <li>{{item.postNo}}</li>
                                <li><a :href="`/board/board/${item.postNo}`">{{item.postTitle}}</a></li>
                                <li>{{item.memberNickname}}</li>
                                <li>{{item.postDate}}</li>
                            </ul>
                        </div>
                        <br>
                        <div class="anonymousResult">
                            <h2>익명게시판</h2><br>
                            <p v-if="!anonymousResult.length">검색 결과가 없습니다.<br>단어사이에 띄어쓰기를 하거나 검색어를 조금더 길게 적어주세요</p>
                            <ul v-for="item in anonymousResult">
                                <li>{{item.postNo}}</li>
                                <li><a :href="`/board/board/${item.postNo}`">{{item.postTitle}}</a></li>
                                <li>{{item.memberNickname}}</li>
                                <li>{{item.postDate}}</li>
                            </ul>
                        </div>
                    </div>
                </span>
                <% if(member.isLogin){ %>
                    <span class="top_menu_item dropdown_menu user_menu">
                        <span class="page user_profile_name"><%- memberLevel[member.level]+member.nickname %></span>
                        <img src="/resource/member/profile_images/profile_<%- member.code %>.png" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">
                        <ul class="dropdown_content">
                            <li><a href="/memberinfo/<%= member.code %>" class="option">유저 정보</a></li>
                            <li><a href="/logout" class="option">로그아웃</a></li>
                        </ul>
                    </span>
                <% }else{ %>
                    <span class="top_menu_item user_menu"><a onclick="showLoginBox()" class="page">로그인</a></span>
                <% } %>
            </div>
        </div>
        <div class="notice_bar">
            <a href="/board/notice/6" class="notice">Jquery관련 레거시 코드들을 전부 제거하였습니다</div>
        </div>
    </nav>
    <div class="side_menu">
        <div class="popup_close_button x_button" onClick="$$('.side_menu')[0].classList.remove('on')"></div>
        <div class="background" onClick="$$('.side_menu')[0].classList.remove('on')"></div>
        <ul>
            <li class="home"><a href="/" class="logo"><img src="/icons/logo.png" alt="로고"></a></li>
            <li class="page"><a href="/timetable">시간표</a></li>
            <li class="page"><a href="/meal">급식</a></li>
            <li class="page"><a href="/meister">마이스터 인증제</a></li>
            <li class="page"><a href="/board/board">자유게시판</a></li>
            <li class="page"><a href="/board/anonymous">익명게시판</a></li>
            <li class="page"><a href="/board/notice">공지사항</a></li>
            <li class="page"><a href="/dorm_rule">기숙사 규정</a></li>
            <li class="page"><a href="https://school.busanedu.net/bssm-h/main.do">학교 홈페이지</a></li>
            <li class="page"><a href="https://github.com/leehj050211/BSM-Frontend">깃허브</a></li>
        </ul>
    </div>
</header>
<div class="dim popup_close"></div>
<div class="dim search_close"></div>
<div class="alert_wrap"></div>
<div class="toast_wrap"></div>
<div class="loading">
    <div>
        <span></span>
    </div>
</div>
<div class="progress" style="left:0%;"></div>
<script src="/js/common.js"></script>