<script>
    function login(){
        $.ajax({
            type:'POST',
            data:{
                returnUrl:'<?php echo $returnUrl ?>',
                member_id:$('.login .member_id').val(),
                member_pw:$('.login .member_pw').val(),
            },
            url:apiUrl+'/login',
            cache:false,
            success:function(data){
                data=JSON.parse(data);
                if(data.status!=1){
                    error_code(data.status);
                }else{
                    if(refresh){
                    window.location.href=data.returnUrl;
                    }else{
                    alert("로그인에 성공하였습니다.");
                    $('.login_box').removeClass('on');
                    }
                }
            },
            error: function(data) {
                error_code(0);
            }
        });
    }
    function register(){
        $.ajax({
            type:'POST',
            data:{
                command_type:'register',
                member_id:$('.register .member_id').val(),
                member_pw:$('.register .member_pw').val(),
                member_pw_check:$('.register .member_pw_check').val(),
                member_nickname:$('.register .member_nickname').val(),
                code:$('.register .code').val(),
            },
            url:apiUrl,
            cache:false,
            success:function(data){
                data=JSON.parse(data);
                if(data.status!=1){
                    error_code(data.status);
                }else{
                    alert("회원가입이 완료되었습니다.\n다시 로그인 해주세요.");
                    $('.register_box').removeClass('on');
                }
            },
            error: function(data) {
                error_code(0);
            }
        });
    }
    function pw_reset(){
        $.ajax({
            type:'POST',
            data:{
                command_type:'reset_pw',
                reset_member_pw:$('.pw_reset .reset_member_pw').val(),
                reset_member_pw_check:$('.pw_reset .reset_member_pw_check').val(),
            },
            url:apiUrl,
            cache:false,
            success:function(data){
                data=JSON.parse(data);
                if(data.status!=1){
                    error_code(data.status);
                }else{
                    alert("비밀번호 재설정이 완료되었습니다.\n다시 로그인 해주세요.");
                    $('.pw_reset_box').removeClass('on');
                }
            },
            error: function(data) {
                error_code(0);
            }
        });
    }
    function authentication(){
        $.ajax({
            type:'POST',
            data:{
                command_type:'authentication',
                code:$('.authentication .code').val(),
            },
            url:apiUrl,
            cache:false,
            success:function(data){
                data=JSON.parse(data);
                if(data.status!=1){
                    error_code(data.status);
                }else{
                    alert("인증이 완료되었습니다.\n다시 로그인 해주세요.");
                    $('.authentication_box').removeClass('on');
                }
            },
            error: function(data) {
                error_code(0);
            }
        });
    }
</script>
<div class="login_box popup center">
    <div class="logo"><img src="/icons/logo.png" alt="로고"></div>
    <h2>로그인</h2>
    <br><br>
    <form class="login" method="post" autocomplete="off" onsubmit="login();return false;">
        <input type="text" class="member_id" placeholder="아이디" class="input_text" required autofocus>
        <br>
        <input type="password" class="member_pw" placeholder="비밀번호" class="input_text" required>
        <br><br>
        <div class="button" onClick="$('.login_box').removeClass('on');">닫기</div>
        <div class="button" onClick="$('.register_box').addClass('on');">회원가입</div>
        <button type="submit" onclick="" class="button">로그인</button>
    </form>
</div>
<div class="register_box popup center">
    <div class="logo"><img src="/icons/logo.png" alt="로고"></div>
    <h2>회원가입</h2>
    <p>인증코드는 관리자에게 문의하시면 발급해 드립니다.</p>
    <form class="register" method="post" autocomplete="off" onsubmit="register();return false;">
        <input type="text" class="member_id" placeholder="아이디" class="input_text" required autofocus>
        <br>
        <input type="password" class="member_pw" placeholder="비밀번호" class="input_text" required>
        <br>
        <input type="password" class="member_pw_check" placeholder="비밀번호 재입력" class="input_text" required>
        <br>
        <input type="text" class="member_nickname" placeholder="닉네임" class="input_text" required>
        <br>
        <input type="text" class="code" placeholder="인증코드" class="input_text" required autofocus>
        <br><br>
        <div class="button" onClick="$('.register_box').removeClass('on');">닫기</div>
        <button type="submit" class="button">가입하기</button>
    </form>
</div>
<div class="pw_reset_box popup center">
    <h2>비밀번호 재설정이 필요합니다</h2>
    <br>
    <form class="pw_reset" method="post" autocomplete="off" onsubmit="return false;">
        <input type="password" class="reset_member_pw" placeholder="재설정할 비밀번호" required>
        <br>
        <input type="password" class="reset_member_pw_check" placeholder="재설정할 비밀번호 재입력" required>
        <br><br>
        <button type="submit" onclick="pw_reset();" class="button">비밀번호 재설정</button>
    </form>
</div>
<div class="authentication_box popup center">
    <div class="logo"><img src="/icons/logo.png" alt="로고"></div>
    <h2>인증코드 활성화가 필요합니다</h2>
    <p>인증코드는 관리자에게 문의하시면 발급해 드립니다.</p>
    <form class="authentication" method="post" autocomplete="off" onsubmit="authentication();return false;">
        <input type="text" class="code" placeholder="인증코드" class="input_text" required autofocus>
        <br><br>
        <button type="submit" class="button">계정 인증</button>
    </form>
</div>