@charset "utf-8";
.title.board_title .container{
  display:flex;
  justify-content:left;
  font-weight:bold;
  padding-left:5%;
}
.title.board_title .container a.main{
  font-size:3.6rem;
  color:var(--text);
  transition:.25s;
}
.title.board_title .container a.sub{
  margin-left:1rem;
  font-size:3.2rem;
  color:var(--light_gray);
  transition:.25s;
}
.title.board_title .container a:hover{
  color:var(--text);
}
@media screen and (min-width:0px) and (max-width:1319px){
  .title.board_title .container a.main{
    font-size:3rem;
  }
  .title.board_title .container a.sub{
    font-size:2.8rem;
  }
}
.board_item_wrap{
  display:flex;
  padding:1rem 0;
  border-radius:1rem;
  font-size:1.5rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  transition:.25s;
}
.board_item{
  display:flex;
}
.board_item.left_wrap{
  flex-direction:column;
  justify-content:center;
}
.board_item_wrap:hover{
  box-shadow:var(--shadow);
  background-color:var(--hover);
}
.board_item .post_comments{
  width:5rem;
  font-size:1.7rem;
  font-weight:bold;
  color:var(--light_gray);
}
.board_item .post_comments.active{
  color:var(--red);
}
.board_item.right_wrap{
  flex-direction:column;
  flex:auto;
}
.board_item.top_wrap{
  flex:auto;
}
.board_item .post_title{
  font-size:2.2rem;
  text-align:left;
  font-weight:bold;
  margin-bottom:.5rem;
  width:100%;
}
.board_item a:visited.post_title{
  color:var(--visited);
}

.board_item_info.right_wrap{
  flex:auto;
  display:flex;
  justify-content:right;
}
.board_item_post_info{
  margin-right:1rem;
  color:var(--light_gray);
}
.board_item_post_info.hit::after{
  content:' 조회';
}
.board_item_post_info.like::after{
  content:' ♥';
}
.board_item_post_info.like.active::after{
  color:var(--red);
}
.member_info .user_profile{
  margin-right:.5rem;
}
.board_top_menu{
  display:flex;
  justify-content:right;
  padding:0 1rem;
  margin-top:5rem;
}
.board_bottom_menu{
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding:0 1rem;
  margin-top:5rem
}
.board_bottom_menu .top{
  display:flex;
  justify-content:center;
}
.board_bottom_menu .bottom{
  display:flex;
  justify-content:space-between;
}

.post{
  width:100%;
}
.post.hide{
  display:none;
}
.post_wrap{
  padding:5rem 5rem 0 5rem;
}
.post_info_wrap{
  display:flex;
}
.post_info_wrap .left_wrap{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.member_nickname{
  font-weight:bold;
}
.post_info_wrap .left_wrap .user_profile{
  margin-right:2rem;
  height:5.4rem;
}
.post_info_wrap .right_wrap{
  flex:auto;
}
.post_info_wrap > div{
  float:left;
  font-size:1.5rem;
  text-align:left;
}
.post_info_wrap .post_title{
  width:100%;
  font-size:2.2rem;
  font-weight:bold;
  text-align:left;
  margin-bottom:1rem;
}
.post_info_wrap .post_date{
  float:right;
  width:auto;
  text-align:right;
}
.post_info_wrap .post_hit{
  float:right;
  width:auto;
  text-align:right;
  margin-right:2.5rem;
}
.post_info_wrap .post_hit::before{
  content:"조회 ";
}
.post_info_wrap .post_comments{
  float:right;
  width:auto;
  text-align:right;
  margin-right:2.5rem;
}
.post_info_wrap .post_comments::after{
  content:" 댓글";
}
.post .post_content{
  width:100%;
  margin:5rem 0 10rem 0;
}
.post_content div p img{
  max-width:100% !important;
}
.post .post_content div{
  text-align:left;
}
.post_menu{
  display:flex;
  justify-content:space-between;
  padding:5rem;
}
.post_like_cnt{
  margin:0 1rem;
  font-weight:bold;
}
.like_button{
  height:3.5rem;
  width:3.5rem;
  background-color:#00000000;
  border:none;
}
.like_button object{
  pointer-events:none;
  filter:var(--bright);
}
.like_button.on object{
  filter:brightness(0) saturate(100%);
}
.like_button.dislike{
  transform:scaleX(-1) scaleY(-1);
}
.like.on{
  filter:invert(95%) sepia(3%) saturate(6824%) hue-rotate(56deg) brightness(85%) contrast(110%);
}
.dislike.on{
  filter:invert(60%) sepia(16%) saturate(1873%) hue-rotate(316deg) brightness(104%) contrast(96%);
}

.comment_list{
  margin:5rem 0;
  padding:0 3rem;
}
.comment_item{
  width:100%;
}
.comment_item_wrap{
  display:inline-block;
  position:relative;
  width:100%;
  padding:1rem 1.5rem;
  text-align:left;
  transition:.25s;
  border-radius:1rem;
  cursor:pointer;
}
.comment_item_wrap.deleted{
  cursor:unset;
  color:gray;
}
.comment_item_wrap:hover{
  box-shadow:var(--shadow);
  background-color:var(--hover);
}
.comment_item_info_wrap{
  display:flex;
  margin-bottom:1rem;
}
.comment_item_info_wrap .left_wrap{
  display:flex;
  align-items:center;
}
.comment_item_info_wrap .left_wrap .user_profile{
  margin-right:1rem;
  height:3rem;
}
.comment_item_info_wrap .right_wrap{
  display:flex;
  flex-direction:column;
  width:100%;
}
.comment_item_info:first-child{
  display:flex;
  justify-content: space-between;
  font-weight:bold;
}
.comment_item_info:last-child{
  font-size:1.3rem;
}
.comment_menu *{
  cursor:pointer;
}
.comment_item_content{
  width:100%;
  white-space:pre-wrap;
}
.comment_child{
  border-left:.2rem solid var(--gray);
  width:95%;
  margin-left:auto;
}
.comment_write{
  padding:0rem 5rem;
}
.pages{
  box-shadow:var(--shadow);
  border-radius:1rem;
  overflow:hidden;
}
.pages *{
  width:auto; color:var(--white); font-weight:bold; padding:1.5rem 2rem; text-align:center; display: inline-block; font-size:1.5rem; cursor:pointer;
  background-color:var(--main);
  transition:.25s;
}
.pages *.active{
  background-color:var(--hover);
}
.pages *:hover{
  background-color:var(--hover);
  box-shadow:var(--shadow);
}
.note-editable{
  background-color:rgba(255, 255, 255, .5);
}
.note-editing-area{
  text-align:start;
}
@media screen and (min-width:0px) and (max-width:1023px){
  .board_item_wrap{
    font-size:1.3rem;
  }
  .board_item .post_comments{
    width:3rem;
    font-size:1.5rem;
  }
  .board_item .post_title{
    font-size:1.7rem;
  }
  .member_info .user_profile{
    height:1.7rem;
  }
  .post_wrap{
    padding:5rem 3% 0 3%;
  }
  .post_info_wrap .post_title{
    font-size:1.8rem;
    margin-bottom:.5rem;
  }
  .post_info_wrap > div:not(.post_title){
    font-size:1.3rem;
  }
  .post_info_wrap .left_wrap .user_profile{
    margin-right:1rem;
    height:4rem;
  }
  .post_info_wrap .post_hit{
    margin-right:1.5rem;
  }
  .post_info_wrap .post_comments{
    margin-right:1.5rem;
  }
  .post_menu{
    padding:5rem 3%;
  }
  .comment_list{
    padding:0;
  }
  .comment_write{
    padding:0 3%;
  }
  .comment_item_wrap{
    padding:1rem 3%;
  }
}