@charset "utf-8";
body{
  background-image: url('/resource/index/images/main.webp');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.container{
  max-width:150rem;
  padding:25rem 0 7.5rem 0;
  animation:index-show 1000ms ease-out;
}
@keyframes index-show {
  0% {transform:translateY(7rem);opacity:.25;}
  30% {transform:translateY(3rem);opacity:.7;}
  100% {transform:translateY(0);opacity:1;}
}
.main_logo{
  height:12.8rem;
}
h1.main{
  font-size:4.2rem;
  padding:0 5rem;
  color:#FFF;
}
h2.main{
  font-size:3.6rem;
}
h3{
  font-size:3rem;
}
h4{
  font-size:2rem;
  color:#AAA;
}
h5{
  font-size:3rem;
}
.service p{
  font-size:2rem;
  color:var(--light_gray);
}
.section_wrap{
  box-shadow:0 0 2.5rem rgba(0, 0, 0, 0.5);
}
section{
  background-color:var(--background);
  padding: 5rem 0;
}
section#main{
  min-height: calc(var(--vh, 1vh) * 40);
  background-image: url('/resource/index/images/main2.webp');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
section#download{
  min-height: calc(var(--vh, 1vh) * 40);
  background-image: url('/resource/index/images/main1.webp');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.service_wrap{
  display:flex;
  flex-direction:column;
  padding:5rem;
}
.service_wrap .service{
  display:flex;
  flex:1;
}
.service_wrap .service .left_wrap{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex:50%;
  min-height:25rem;
}
.service_wrap .service .right_wrap{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex:50%;
  min-height:25rem;
}
.service_wrap .service .image{
  padding:1rem 5%;
}
.service_wrap .service .image div{
  min-height:25rem;
  width:100%;
  height:100%;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:1rem;
}
.service_wrap.info .service:nth-child(1) .image div{
  background-image:url('/resource/index/images/meal.png');
}
.service_wrap.info .service:nth-child(2) .image div{
  background-image:url('/resource/index/images/timetable.png');
}
.service_wrap.info .service:nth-child(3) .image div{
  background-image:url('/resource/index/images/meister.png');
}
.service_wrap.info .service:nth-child(4) .image div{
  background-image:url('/resource/index/images/community.png');
}
.service_wrap.update .service:nth-child(1) .image div{
  background-image:url('/resource/index/images/update/1.2.0/update1.png');
}
.service_wrap.update .service:nth-child(2) .image div{
  background-image:url('/resource/index/images/update/1.2.0/update2.png');
}
.service_wrap.update .service:nth-child(3) .image div{
  background-image:url('/resource/index/images/update/1.2.0/update3.png');
}
.service_wrap.update .service:nth-child(4) .image div{
  background-image:url('/resource/index/images/update/1.2.0/update4.webp');
}
@media screen and (min-width:0px) and (max-width:1023px){
  main,.container{
    max-width:100%;
  }
  .main_logo{
    height:9.6rem;
  }
  h1.main{
    font-size:3.2rem;
  }
  section#main, section#download{
    min-height:28rem;
  }
  .service_wrap{
    padding:3%;
  }
  .service_wrap .service{
    padding:5rem 0;
    flex-direction:column;
  }
  .service_wrap .service:nth-child(even){
    flex-direction:column-reverse;
  }
  .service_wrap .service .image{
    padding:0;
  }
}