@charset "utf-8";
.foods{
  display:flex;
}
.foods .food{
  padding:2rem 2rem;
  border-radius:2rem;
  flex:1;
  box-shadow:2rem 2rem 5rem rgba(0, 0, 0, 0.3);
  background-color:rgba(128, 128, 128, 0.2);
  min-height:30rem;
  transform: scale(.75);
  opacity:.5;
}
.food_time{
  font-size:2.5rem;
  font-weight:bold;
}
.foods .food .food_menu{
  margin-top:2rem;
  font-size:1.8rem;
}
.foods *{
  cursor: pointer;
  transition:.25s;
}
.foods .hover-food{
  transform: scale(1);
  opacity:1;
}
.foods .food *{
  user-select:none;
}
@media screen and (min-width:0px) and (max-width:1023px){
  .food_menu{
    padding:1rem;
  }
  .foods{
    display:block;
  }
  .foods .food{
    transform:scale(1);
    opacity:1;
    box-shadow:none;
    border-radius:0;
  }
  .foods .food-1{
    border-radius:2rem 2rem 0 0;
  }
  .foods .food-3{
    border-radius:0 0 2rem 2rem;
  }
}