@charset "utf-8";
.meals{
  display:flex;
}
.meals .meal{
  padding:2rem 2rem;
  border-radius:2rem;
  flex:1;
  box-shadow:2rem 2rem 5rem rgba(0, 0, 0, 0.3);
  background-color:rgba(128, 128, 128, 0.2);
  min-height:30rem;
  transform: scale(.75);
  opacity:.5;
}
.meal_time{
  font-size:2.5rem;
  font-weight:bold;
}
.meals .meal .meal_menu{
  margin-top:2rem;
  font-size:1.8rem;
}
.meals *{
  cursor: pointer;
  transition:.25s;
}
.meals .hover{
  transform: scale(1);
  opacity:1;
}
.meals .meal *{
  user-select:none;
}
@media screen and (min-width:0px) and (max-width:1023px){
  .meal_menu{
    padding:1rem;
  }
  .meals{
    display:block;
  }
  .meals .meal{
    transform:scale(1);
    opacity:1;
    box-shadow:none;
    border-radius:0;
  }
  .meals .meal-1{
    border-radius:2rem 2rem 0 0;
  }
  .meals .meal-3{
    border-radius:0 0 2rem 2rem;
  }
}