@charset "utf-8";
.meals{
  display:flex;
  overflow:hidden;
}
.meal{
  display:flex;
  flex-direction:column;
  flex:1;
  padding:2rem;
  border-radius:2rem;
  box-shadow:2rem 2rem 5rem rgba(0, 0, 0, 0.3);
  background-color:var(--level-1);
  min-height:30rem;
  transform: scale(.75);
  opacity:.5;
}
.meal_time{
  font-size:2.5rem;
  font-weight:bold;
}
.meal_menu{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex:1;
  font-size:1.8rem;
}
.meals *{
  cursor: pointer;
  transition:.25s;
}
.meals .hover{
  transform: scale(1);
  opacity:1;
}
.meal *{
  user-select:none;
}
.meal_menu{
  white-space:pre;
  word-break:keep-all;
  transition:word-spacing 0s;
}
@media screen and (min-width:0px) and (max-width:1023px){
  body{
    padding:0;
  }
  body, main{
    height:100%;
  }
  main{
    display:flex;
    flex-direction:column;
  }
  .container{
    flex:1;
  }
  .meals{
    flex-direction:column;
    margin-top:1rem;
    border-radius:2rem 2rem 0 0;
  }
  .meal{
    width:100%;
    padding-bottom:0;
    transform:scale(1);
    opacity:1;
    box-shadow:none;
    border-radius:0;
    min-height:auto;
  }
  .meal_menu:not(.nothing){
    white-space:normal;
    word-spacing:1rem;
    text-align:left;
  }
}