@charset "utf-8";
.result.point{
    margin-top:5rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.result.point *{
    all:unset !important;
}
.result.point > div{
    flex:100% !important;
    font-size:2.2rem !important;
    font-weight:bold !important;
}
.result.point > li{
    display:flex !important;
    flex-direction:column !important;
    justify-content:center !important;
    width:50% !important;
    height:15rem !important;
    border-radius:1rem !important;
    transition:.25s !important;
}
.result.point > li:hover{
    box-shadow:var(--shadow) !important;
    background-color:var(--hover) !important;
}
.result.point > .bad{
    background-color:var(--red) !important;
}
.result.point > li > div{
    display:flex !important;
    flex-direction:column !important;
    padding:2.5rem !important;
}
.result.point > li > div > div:first-child{
    font-size:1.8rem !important;
    font-weight:bold !important;
}

.titleBarA{
    font-size:2.4rem;
}
.result.score > table tbody tr td{
    background:none !important;
    border:none !important;
}
.result.score > table tbody tr td *{
    color:var(--text) !important;
}
.result.score > table:not(:nth-child(3)) tbody tr:first-child,
.result.score > table:not(:nth-child(3)) tbody tr:not(:first-child) td:not(:nth-child(4)){
    display:none !important;
}
@media screen and (min-width:0px) and (max-width:1023px){
    .result.point > li{
        width:100% !important;
        height:15rem !important;
    }
    .result.point > li > div{
        padding:1rem !important;
    }
}