@charset "utf-8";
.meister{
    margin-top:5rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.meister *{
    all:unset !important;
}
.meister > div{
    flex:100% !important;
    font-size:2.2rem !important;
    font-weight:bold !important;
}
.meister > li{
    display:flex !important;
    flex-direction:column !important;
    justify-content:center !important;
    width:50% !important;
    height:15rem !important;
    border-radius:1rem !important;
    transition:.25s !important;
}
.meister > li:hover{
    box-shadow:var(--shadow) !important;
    background-color:rgba(192, 192, 192, 0.2) !important;
}
.meister > li.bed{
    background-color:rgba(192, 0, 0, 0.4) !important;
}
.meister > li > div{
    display:flex !important;
    flex-direction:column !important;
    padding:2.5rem !important;
}
.meister > li > div > div:first-child{
    font-size:1.8rem !important;
    font-weight:bold !important;
}
@media screen and (min-width:0px) and (max-width:1023px){
    .meister > li{
        width:100% !important;
        height:15rem !important;
    }
    .meister > li > div{
        padding:1rem !important;
    }
}