@charset "utf-8";
.user_info{
  display:flex;
  width:100%;
  padding:0 5rem;
}
.user_info .left_wrap{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.user_info .left_wrap .user_profile{
  margin-right:2rem;
  height:5.4rem;
}
.user_info .right_wrap{
  display:flex;
  flex-direction:column;
  flex:auto;
}
.user_info > div{
  font-size:1.5rem;
  text-align:left;
}
.user_info .right_wrap .top_wrap{
  display:flex;
  margin-bottom:.5rem;
}
.user_info .right_wrap .bottom_wrap{
  display:flex;
}
.user_info .user_nickname{
  font-size:1.8rem;
  font-weight:bold;
  text-align:left;
}
.user_info .student_info{
  flex:auto;
  text-align:left;
}
.user_info .user_created{
  flex:auto;
  text-align:right;
}
.user_info .user_level{
  text-align:right;
  margin-right:2.5rem;
}
.user_info .user_enrolled{
  text-align:right;
  margin-right:2.5rem;
}
@media screen and (min-width:0px) and (max-width:1023px){
  .user_info{
    padding:0 3%;
  }
  .user_info > div:not(.post_title){
    font-size:1.3rem;
  }
  .user_info .left_wrap .user_profile{
    margin-right:1rem;
    height:4rem;
  }
  .user_info .user_level{
    margin-right:1.5rem;
  }
  .user_info .user_enrolled{
    margin-right:1.5rem;
  }
}