<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <title>404 notfound</title>
    <meta property="title" content="404 Notfound">
    <meta property="og:title" content="404 Notfound">
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title">
            <h1>찾을 수 없음</h1>
            <br>
            <h2>요청한 항목을 찾을 수 없습니다</h2>
        </div>
    </main>
    <div class="dim menu_close"></div>
    <%- include('../common/loginBox') %>
</body>
</html>