<!DOCTYPE HTML>
<html lang="kr">
<head>
    <title>500 Internal Server Error</title>
    <meta property="title" content="500 Internal Server Error">
    <meta property="og:title" content="500 Internal Server Error">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="title">
                <h1>내부 서버 오류</h1>
                <br>
                <h2>서버 내부적으로 오류가 발생하였습니다</h2>
            </div>
          </div>
    </main>
</body>
</html>