<!DOCTYPE HTML>
<html lang="kr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <%- include('../common/head') %>
    <title>커뮤니티 - BSM</title>
    <meta property="title" content="커뮤니티 - BSM | 부산소마고 지원 서비스">
    <meta property="og:title" content="커뮤니티 - BSM | 부산소마고 지원 서비스">
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <div class="post hide scroll_bar">
            <div id="close-post" onclick="postWindowClose()">
                <span> ◀ </span>
                <span> ◀ </span>
            </div>
            <div id="post_tools">
                <button id="copy_post" class="icon clear_button">
                    <object data="/resource/common/images/copy.svg"></object>
                </button>
            </div>
            <div class="container">
                <div class="post_wrap">
                    <div class="post_info_wrap">
                        <div class="left_wrap"><img :src="`/resource/user/profile_images/profile_${post.usercode}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="" class="user_profile"></div>
                        <div class="right_wrap">
                            <div class="post_title">{{post.title}}</div>
                            <div class="post_date">{{post.date}}</div>
                            <div class="post_hit">{{post.hit}}</div>
                            <div class="post_comments">{{post.comments}}</div>
                            <div class="nickname"><a :href="`/user/${post.usercode}`">{{post.nickname}}</a></div>
                            </div>
                        </div>
                    <div class="post_content"><div v-html="post.content"></div></div>
                    <div class="post_like_wrap post_like">
                        <button class="like_button like icon" onclick="likeSend(1);" v-bind:class="{on:post.like>0}"><object data="/resource/common/images/like.svg"></object></button>
                        <span class="post_like_cnt">{{post.totalLike}}</span>
                        <button class="like_button dislike icon" onclick="likeSend(-1);" v-bind:class="{on:post.like<0}"><object data="/resource/common/images/like.svg"></object></button>
                    </div>
                </div>
                <div class="comment_list">
                    <div class="comment_item" v-for="item in comment.comments">
                        <div class="comment_item_wrap" v-if="item.deleted" :class="{deleted:item.deleted}">삭제된 댓글 입니다</div>
                        <div class="comment_item_wrap" v-on:click="focusComment(item.idx);" v-if="!item.deleted">
                            <div class="comment_item_info_wrap">
                                <div class="left_wrap">
                                    <img :src="`/resource/user/profile_images/profile_${item.usercode}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="" class="user_profile">
                                </div>
                                <div class="right_wrap">
                                    <div class="comment_item_info">
                                        <a :href="`/user/${item.usercode}`">{{item.nickname}}</a>
                                        <div class="comment_menu"><span v-if="item.permission" :onclick="`commentDelete(${item.idx});`">삭제</span></div>
                                    </div>
                                    <div class="comment_item_info">{{item.date}}</div>
                                </div>
                            </div>
                            <div class="comment_item_content" v-html="item.comment"></div>
                        </div>
                        <tree-item v-if="isParent" class="comment_child" v-for="(child, index) in item.child" :item="child"></tree-item>
                        <form v-if="comment.focus==item.idx && !item.deleted" :class="`comment_write write_${item.idx}`" method="post" autocomplete="off" :onsubmit="`commentWrite(${item.depth}, ${item.idx});return false;`">
                            <div class="write_wrap">
                                <pre class="textarea write" style="width:100%;min-height:10rem;" contenteditable="true" onkeydown="editorNewline(this)" required></pre>
                                <button class="clear_button icon emoticon_button" onclick="loadEmoticon();return false;"><object data="/resource/common/images/emoticon.svg"></object></button>
                            </div>
                            <br>
                            <input type="submit" name="" value="답글작성" class="button">
                        </form>
                    </div>
                </div>
                <form class="comment_write write_0" method="post" autocomplete="off" v-on:click="focusComment(0)" onsubmit="commentWrite(0, 0);return false;">
                    <div class="write_wrap">
                        <pre class="textarea write" style="width:100%;min-height:10rem;" contenteditable="true" onkeydown="editorNewline(this)" required></pre>
                        <button class="clear_button icon emoticon_button" onclick="loadEmoticon();return false;"><object data="/resource/common/images/emoticon.svg"></object></button>
                    </div>
                    <br>
                    <div class="button" onclick="commentRefresh();">댓글 새로고침</div>
                    <input type="submit" name="" value="댓글작성" class="button accent">
                </form>
                <div class="post_menu">
                    <span class="post_delete">
                        <div class="button delete" onclick="postDelete();" v-if="post.permission">글 삭제</div>
                    </span>
                    <span class="post_modify">
                        <a class="button accent" :href="`/board/write/${boardType}/${postNo}`" v-if="post.permission">게시글 수정</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="board">
                <div class="title board_title">
                    <div class="container">
                        <a :href="`/board/${boardType}`" class="main" :onclick="`boardChange('${boardType}');return false;`">{{boardName}}</a>
                        <a :href="`/board/${subBoardType}`" class="sub" v-if="boardType!='notice'" :onclick="`boardChange('${subBoardType}');return false;`">{{subBoardName}}</a>
                    </div>
                </div>
                <div class="board_top_menu">
                    <span class="dropdown_menu board_limit">
                        <span class="select button">15개</span>
                        <ul class="dropdown_content">
                            <li class="option" onclick="$('.board_limit .select').innerText=this.innerText;boardLimitChange(parseInt(this.innerText))">10개</li>
                            <li class="option" onclick="$('.board_limit .select').innerText=this.innerText;boardLimitChange(parseInt(this.innerText))">15개</li>
                            <li class="option" onclick="$('.board_limit .select').innerText=this.innerText;boardLimitChange(parseInt(this.innerText))">20개</li>
                        </ul>
                    </span>
                </div>
                <div class=board_list>
                    <span class="board_item_wrap" v-for="post in posts">
                        <div class="board_item left_wrap">
                            <span class="post_comments" v-bind:class="{active:post.comments>0}">{{post.comments}}</span>
                        </div>
                        <div class="board_item right_wrap">
                            <div class="board_item top_wrap">
                                <a :href="`/board/${boardType}/${post.postNo}`" class="post_title" :onclick="`boardPostChange(${post.postNo});return false;`">{{post.title}}</a>
                            </div>
                            <div class="board_item bottom_wrap">
                                <div class="board_item_info left_wrap">
                                    <span class="user_info">
                                        <img :src="`/resource/user/profile_images/profile_${post.usercode}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="" class="user_profile">
                                        <a :href="`/user/${post.usercode}`">{{post.nickname}}</a>
                                    </span>
                                </div>
                                <div class="board_item_info right_wrap">
                                    <span class="board_item_post_info like" v-bind:class="{active:post.totalLike>0}" v-show="post.totalLike!=0">{{post.totalLike}}</span>
                                    <span class="board_item_post_info hit">{{post.hit}}</span>
                                    <span class="board_item_post_info date">{{post.date}}</span>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="board_bottom_menu">
                    <div class="top">
                        <div class="board_menu_item pages">
                            <div :onClick="`boardPageChange(${page})`" v-for="page in pages" :class="{active:page==activePage}">{{page}}</div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="board_menu_item board_refresh_button">
                            <button onClick="boardRefresh();" class="button">글 새로고침</button>
                        </div>
                        <div class="board_menu_item post_write_button">
                            <a :href="writeUrl" class="button accent" v-bind:class="{inactive:!isLogin}">글쓰기</a>
                        </div>
                    </div>
                </div>
                <script type="text/x-template" id="comment_item_template">
                    <div class="comment_item">
                        <div class="comment_item_wrap" v-if="item.deleted" :class="{deleted:item.deleted}">삭제된 댓글 입니다</div>
                        <div class="comment_item_wrap" v-on:click="focusComment(item.idx);" v-if="!item.deleted">
                            <div class="comment_item_info_wrap">
                                <div class="left_wrap">
                                    <img :src="`/resource/user/profile_images/profile_${item.usercode}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="" class="user_profile">
                                </div>
                                <div class="right_wrap">
                                    <div class="comment_item_info">
                                        <a :href="`/user/${item.usercode}`">{{item.nickname}}</a>
                                        <div class="comment_menu"><span v-if="item.permission" :onclick="`commentDelete(${item.idx});`">삭제</span></div>
                                    </div>
                                    <div class="comment_item_info">{{item.date}}</div>
                                </div>
                            </div>
                            <div class="comment_item_content" v-html="item.comment"></div>
                        </div>
                        <tree-item v-if="isParent" class="comment_child" v-for="(child, index) in item.child" :item="child"></tree-item>
                        <form v-if="`${postView.comment.focus}`==item.idx && !item.deleted" :class="`comment_write write_${item.idx}`" method="post" autocomplete="off" :onsubmit="`commentWrite(${item.depth}, ${item.idx});return false;`">
                            <div class="write_wrap">
                                <pre class="textarea write" style="width:100%;min-height:10rem;" contenteditable="true" onkeydown="editorNewline(this)" required></pre>
                                <button class="clear_button icon emoticon_button" onclick="loadEmoticon();return false;"><object data="/resource/common/images/emoticon.svg"></object></button>
                            </div>
                            <br>
                            <input type="submit" name="" value="답글작성" class="button">
                        </form>
                    </div>
                </script>
            </div>
        </div>
    </main>
    <script src="/js/etc/board/load.js"></script>
    <script src="/js/etc/board/board.js"></script>
    <script src="/js/etc/board/post.js"></script>
    <%- include('../common/emoticonBox') %>
    <%- include('../common/header') %>
</body>
</html>