<!DOCTYPE HTML>
<html lang="kr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <%- include('../common/head') %>
    <% switch(boardType){
        case 'board': %>
        <title>자유게시판 - BSM</title> %>
        <meta property="title" content="자유게시판 - BSM | 부산소마고 지원 서비스">
        <meta property="og:title" content="자유게시판 - BSM | 부산소마고 지원 서비스">
        <% break;
    case 'anonymous': %>
        <title>익명게시판 - BSM</title> %>
        <meta property="title" content="익명게시판 - BSM | 부산소마고 지원 서비스">
        <meta property="og:title" content="익명게시판 - BSM | 부산소마고 지원 서비스">
        <% break;
    } %>
    <script>
        const boardType = window.location.pathname.split('/')[2];
        const postNo = window.location.pathname.split('/')[3];
        const page = new URLSearchParams(location.search).get("page");
    </script>
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title board_title">
            <div class="container">
            <% switch(boardType){
                case 'board': %>
                <h1>자유게시판</h1>
                <a href="/board/anonymous">익명게시판</a>
                <% break;
            case 'anonymous': %>
                <h1>익명게시판</h1>
                <a href="/board/board">자유게시판</a>
                <% break;
            } %>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="board">
            <% if(postNo!=null){ %>
                <div class="post">
                    <div class="post_info_wrap">
                        <div class="left_wrap"><img :src="memberProfile" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile"></div>
                        <div class="right_wrap">
                            <div class="post_title">{{postTitle}}</div>
                            <div class="post_date">{{postDate}}</div>
                            <div class="post_hit">{{postHit}}</div>
                            <div class="post_comments">{{postComments}}</div>
                            <div class="member_nickname"><a :href="memberInfoUrl">{{memberNickname}}</a></div>
                            </div>
                        </div>
                    <div class="post_content"><div v-html="postContent"></div></div>
                    <div class="post_like_wrap post_like">
                        <button class="button like_button" onclick="likeSend(1);" v-bind:class="{on:like>0}">좋아요</button>
                        <span class="post_like_cnt">{{postLike}}</span>
                        <button class="button dislike_button" onclick="likeSend(-1);" v-bind:class="{on:like<0}">싫어요</button>
                    </div>
                </div>
                <div class="comment_list">
                    <div class="comment"></div>
                </div>
                <form class="comment_write" method="post" autocomplete="off" onsubmit="comment_write();return false;">
                    <textarea placeholder="댓글" class="post_comment" style="width:100%;height:10rem;" required></textarea>
                    <br><br>
                    <div class="button" onclick="commentRefresh();">댓글 새로고침</div>
                    <input type="submit" name="" value="댓글작성" class="button">
                </form>
                <div class="post_menu">
                    <span class="post_delete"></span>
                    <span class="post_modify"></span>
                </div>
                <script src="/js/board/post.js"></script>
                <script>
                    postRefresh();
                </script>
            <% } %>
                <div class=board_list>
                    <span class="board_item_wrap" v-for="post in posts">
                        <div class="board_item left_wrap">
                            <span class="post_comments" v-bind:class="{active:post.postComments>0}">{{post.postComments}}</span>
                        </div>
                        <div class="board_item right_wrap">
                            <div class="board_item top_wrap">
                                <a :href="post.postUrl" class="post_title">{{post.postTitle}}</a>
                            </div>
                            <div class="board_item bottom_wrap">
                                <div class="board_item_info left_wrap">
                                    <span class="member_info">
                                        <img :src="post.memberProfile" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">
                                        <a :href="post.memberProfileUrl" v-html="post.memberNickname"></a>
                                    </span>
                                </div>
                                <div class="board_item_info right_wrap">
                                    <span class="board_item_post_info like" v-bind:class="{active:post.postLike>0}" v-show="post.postLike!=0">{{post.postLike}}</span>
                                    <span class="board_item_post_info hit">{{post.postHit}}</span>
                                    <span class="board_item_post_info date">{{post.postDate}}</span>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="board_bottom_menu">
                    <div class="board_menu_item board_refresh_button">
                        <button onClick="boardRefresh();" class="button">글 새로고침</button>
                    </div>
                    <div class="board_menu_item pages">
                        <a :href="'?page='+page" v-for="page in pages">{{page}}</a>
                    </div>
                    <div class="board_menu_item post_write_button">
                        <a :href="writeUrl" class="button" v-bind:class="{none_active:!isLogin}">글쓰기</a>
                    </div>
                </div>
                <script src="/js/board/board.js"></script>
                <script>
                    boardRefresh();
                </script>
            </div>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>