<!DOCTYPE HTML>
<html lang="kr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <%- include('../common/head') %>
    <title>커뮤니티 - BSM</title>
    <meta property="title" content="커뮤니티 - BSM | 부산소마고 지원 서비스">
    <meta property="og:title" content="커뮤니티 - BSM | 부산소마고 지원 서비스">
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title board_title">
            <div class="container">
                <a :href="`/board/${boardType}`" class="main" :onclick="`boardChange('${boardType}');return false;`">{{boardName}}</a>
                <a :href="`/board/${subBoardType}`" class="sub" v-if="boardType!='notice'" :onclick="`boardChange('${subBoardType}');return false;`">{{subBoardName}}</a>
            </div>
        </div>
        <div class="container">
            <div class="board">
                <div class="post hide" v-show="postTitle">
                    <div class="post_wrap">
                        <div class="post_info_wrap">
                            <div class="left_wrap"><img :src="memberProfile" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile"></div>
                            <div class="right_wrap">
                                <div class="post_title">{{postTitle}}</div>
                                <div class="post_date">{{postDate}}</div>
                                <div class="post_hit">{{postHit}}</div>
                                <div class="post_comments">{{postComments}}</div>
                                <div class="member_nickname"><a :href="memberInfoUrl">{{memberNickname}}</a></div>
                                </div>
                            </div>
                        <div class="post_content"><div v-html="postContent"></div></div>
                        <div class="post_like_wrap post_like">
                            <button class="button like_button" onclick="likeSend(1);" v-bind:class="{on:like>0}">좋아요</button>
                            <span class="post_like_cnt">{{postLike}}</span>
                            <button class="button dislike_button" onclick="likeSend(-1);" v-bind:class="{on:like<0}">싫어요</button>
                        </div>
                    </div>
                    <div class="comment_list">
                        <div class="comment_item" v-for="item in commentTree">
                            <div class="comment_item_wrap" v-if="item.deleted" :class="{deleted:item.deleted}">삭제된 댓글 입니다</div>
                            <div class="comment_item_wrap" :onClick="`postView.commentFocus=${item.idx};`" v-if="!item.deleted">
                                <div class="comment_item_info_wrap">
                                    <div class="left_wrap">
                                        <img :src="`/resource/member/profile_images/profile_${item.memberCode}.png`" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">
                                    </div>
                                    <div class="right_wrap">
                                        <div class="comment_item_info">
                                            <a :href="`/memberinfo/${item.memberCode}`">{{item.memberNickname}}</a>
                                            <div class="comment_menu"><span v-if="item.permission" :onclick="`commentDelete(${item.idx});`">삭제</span></div>
                                        </div>
                                        <div class="comment_item_info">{{item.commentDate}}</div>
                                    </div>
                                </div>
                                <div class="comment_item_content" v-html="item.comment"></div>
                            </div>
                            <form v-if="commentFocus==item.idx && !item.deleted" class="comment_write" method="post" autocomplete="off" :onsubmit="`comment_write(${item.depth}, ${item.idx});return false;`">
                                <pre class="textarea post_comment" style="width:100%;min-height:10rem;" contenteditable="true" required></pre>
                                <br>
                                <button class="button" onclick="$$('.insert_emoticon_box')[0].classList.add('on');return false;">이모티콘 넣기(테스트)</button>
                                <input type="submit" name="" value="답글작성" class="button">
                            </form>
                            <tree-item v-if="isParent" class="comment_child" v-for="(child, index) in item.child" :item="child"></tree-item>
                        </div>
                    </div>
                    <form class="comment_write" method="post" autocomplete="off" onsubmit="comment_write(0, null);return false;">
                        <pre class="textarea post_comment" style="width:100%;min-height:10rem;" contenteditable="true" required></pre>
                        <br>
                        <button class="button" onclick="$$('.insert_emoticon_box')[0].classList.add('on');return false;">이모티콘 넣기(테스트)</button>
                        <div class="button" onclick="commentRefresh();">댓글 새로고침</div>
                        <input type="submit" name="" value="댓글작성" class="button">
                    </form>
                    <div class="insert_emoticon_box popup center">
                        <div class="popup_close_button x_button" onClick="$$('.insert_emoticon_box')[0].classList.remove('on');"></div>
                        <p>아직 테스트중인 기능입니다</p>
                        <div class="select_emoticon">
                            <img :src="`/resource/board/emoticon/${e.id}.png`" :alt="e.alt" class="emoticon_icon" v-on:click="selectEmoticon(i)" v-for="(e, i) in emoticon">
                        </div>
                        <div class="emoticon_box" v-if="emoticon[emoticonIdx]">
                            <img :src="`/resource/board/emoticon/${emoticon[emoticonIdx].id}/${e.idx}.${e.type}`" :alt="e.idx" class="emoticon" :onclick="`insertEmoticon('${emoticon[emoticonIdx].id}', '${e.idx}', '${e.type}')`" v-for="e in emoticon[emoticonIdx].e">
                        </div>
                    </div>
                    <div class="post_menu">
                        <span class="post_delete">
                            <div class="button red_button" onclick="postDelete();" v-if="permission">글 삭제</div>
                        </span>
                        <span class="post_modify">
                            <a class="button blue_button" :href="`/board/write/${boardType}/${postNo}`" v-if="permission">게시글 수정</a>
                        </span>
                    </div>
                </div>
                <div class="board_top_menu">
                    <span class="dropdown_menu board_limit">
                        <span class="select button">15개</span>
                        <ul class="dropdown_content">
                            <li class="option" onclick="$$('.board_limit .select')[0].innerText=this.innerText;boardLimitChange(parseInt(this.innerText))">10개</li>
                            <li class="option" onclick="$$('.board_limit .select')[0].innerText=this.innerText;boardLimitChange(parseInt(this.innerText))">15개</li>
                            <li class="option" onclick="$$('.board_limit .select')[0].innerText=this.innerText;boardLimitChange(parseInt(this.innerText))">20개</li>
                        </ul>
                    </span>
                </div>
                <div class=board_list>
                    <span class="board_item_wrap" v-for="post in posts">
                        <div class="board_item left_wrap">
                            <span class="post_comments" v-bind:class="{active:post.postComments>0}">{{post.postComments}}</span>
                        </div>
                        <div class="board_item right_wrap">
                            <div class="board_item top_wrap">
                                <a :href="`/board/${post.boardType}/${post.postNo}`" class="post_title" :onclick="`boardPostChange(${post.postNo});return false;`">{{post.postTitle}}</a>
                            </div>
                            <div class="board_item bottom_wrap">
                                <div class="board_item_info left_wrap">
                                    <span class="member_info">
                                        <img :src="post.memberProfile" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">
                                        <a :href="post.memberProfileUrl" v-html="post.memberNickname"></a>
                                    </span>
                                </div>
                                <div class="board_item_info right_wrap">
                                    <span class="board_item_post_info like" v-bind:class="{active:post.postLike>0}" v-show="post.postLike!=0">{{post.postLike}}</span>
                                    <span class="board_item_post_info hit">{{post.postHit}}</span>
                                    <span class="board_item_post_info date">{{post.postDate}}</span>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="board_bottom_menu">
                    <div class="top">
                        <div class="board_menu_item pages">
                            <div :onClick="'boardPageChange('+page+');'" v-for="page in pages" :class="{active:page==activePage}">{{page}}</div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="board_menu_item board_refresh_button">
                            <button onClick="boardRefresh();" class="button">글 새로고침</button>
                        </div>
                        <div class="board_menu_item post_write_button">
                            <a :href="writeUrl" class="button" v-bind:class="{none_active:!isLogin}">글쓰기</a>
                        </div>
                    </div>
                </div>
                <script src="/js/etc/board/board.js"></script>
                <script type="text/x-template" id="comment_item_template">
                    <div class="comment_item">
                        <div class="comment_item_wrap" v-if="item.deleted" :class="{deleted:item.deleted}">삭제된 댓글 입니다</div>
                        <div class="comment_item_wrap" :onClick="`postView.commentFocus=${item.idx};`" v-if="!item.deleted">
                            <div class="comment_item_info_wrap">
                                <div class="left_wrap">
                                    <img :src="`/resource/member/profile_images/profile_${item.memberCode}.png`" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">
                                </div>
                                <div class="right_wrap">
                                    <div class="comment_item_info">
                                        <a :href="`/memberinfo/${item.memberCode}`">{{item.memberNickname}}</a>
                                        <div class="comment_menu"><span v-if="item.permission" :onclick="`commentDelete(${item.idx});`">삭제</span></div>
                                    </div>
                                    <div class="comment_item_info">{{item.commentDate}}</div>
                                </div>
                            </div>
                            <div class="comment_item_content" v-html="item.comment"></div>
                        </div>
                        <form v-if="`${postView.commentFocus}`==item.idx && !item.deleted" class="comment_write" method="post" autocomplete="off" :onsubmit="`comment_write(${item.depth}, ${item.idx});return false;`">
                            <pre class="textarea post_comment" style="width:100%;min-height:10rem;" contenteditable="true" required></pre>
                            <br>
                            <button class="button" onclick="$$('.insert_emoticon_box')[0].classList.add('on');return false;">이모티콘 넣기(테스트)</button>
                            <input type="submit" name="" value="답글작성" class="button">
                        </form>
                        <tree-item v-if="isParent" class="comment_child" v-for="(child, index) in item.child" :item="child"></tree-item>
                    </div>
                </script>
                <script src="/js/etc/board/post.js"></script>
            </div>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>