<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <title>이모티콘 - BSM</title>
    <meta property="title" content="이모티콘 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="이모티콘 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <div class="title">
            <h1>이모티콘</h1>
        </div>
        <div class="container">
            <p>아직 준비중인 페이지 입니다.</p>
            <br>
            <button class="button accent" onclick="popupOpen($('.emoticon_upload_box'))">이모티콘 업로드</button>
            <br><br>
            <p>이모티콘 업로드는 할 수 있어요.</p>
        </div>
    </main>
    <div class="emoticon_upload_box emoticon_info_box popup center">
        <div class="popup_close_button x_button" onClick="popupClose(this.parentElement)"></div>
        <h2>이모티콘 업로드</h2>
        <p>썸네일: 2:1비율의 png파일</p>
        <p>이모티콘: 1:1비율의 png, jpg, gif, webp파일</p>
        <form class="emoticon_upload" autocomplete="off" onsubmit="emoticonUpload();return false;">
            <span class="input_file emoticon_info_file">
                <div class="top_wrap">
                    <label for="emoticon_info" class="upload_emoticon emoticon_icon">
                        <span v-if="!emoticon.imgSrc">업로드<br>이모티콘 썸네일</span>
                        <img v-if="emoticon.imgSrc" :src="emoticon.imgSrc" alt="이모티콘 썸네일" class="emoticon_icon">
                        <input type="file" name="file" id="emoticon_info" accept=".png" required onchange="emoticonFilesView.change(-1, this)">
                    </label>
                    <input type="text" class="name input_text" placeholder="이모티콘 이름">
                </div>
                <input type="text" class="description input_text full" placeholder="설명">
            </span>
            <div class="emoticon_box emoticon_files scroll_bar">
                <span v-for="(e, i) in emoticons" class="input_file emoticon_file">
                    <label v-if="mode=='remove'" class="upload_emoticon delete" @click="remove(i)"><span>삭제<br>{{i+1}}</span></label>
                    <label v-if="mode=='upload'" :for="`emoticon_${i}`" class="upload_emoticon"><span v-if="!e.imgSrc">업로드<br>{{i+1}}</span><img v-if="e.imgSrc" :src="e.imgSrc" :alt="i" class="emoticon"></label>
                    <input type="file" name="file" :id="`emoticon_${i}`" accept=".png, .jpg, .jpeg, .gif, .webp" required :onchange="`emoticonFilesView.change(${i}, this)`">
                </span>
                <span>
                    <button class="upload_emoticon clear_button" @click="add" onclick="return false"><span>추가</span></button>
                </span>
                <span>
                    <button class="upload_emoticon clear_button" @click="changeMode" onclick="return false"><span>{{mode}}<br>mode</span></button>
                </span>
            </div>
            <br>
            <button type="submit" class="button main_button full accent">이모티콘 업로드</button>
        </form>
    </div>
    <script>
        const emoticonFilesView = Vue.createApp({
            data() {
                return {
                    mode:'upload',
                    emoticon: {
                        imgSrc:''
                    },
                    emoticons: [
                        {imgSrc: ''},
                        {imgSrc: ''},
                        {imgSrc: ''},
                        {imgSrc: ''}
                    ]
                }
            },
            methods: {
                change: function(i, e) {
                    if (e.files.length) {
                        if (i == -1) this.emoticon.imgSrc = window.URL.createObjectURL(e.files[0]);
                        else this.emoticons[i].imgSrc = window.URL.createObjectURL(e.files[0]);
                    } else {
                        if (i == -1) this.emoticon.imgSrc = '';
                        else this.emoticons[i].imgSrc = '';
                    }
                },
                add: function() {
                    this.emoticons.push({imgSrc:''});
                },
                remove: function(i) {
                    this.emoticons.splice(i, 1);
                },
                init: function() {
                    this.emoticon.imgSrc = '';
                    this.emoticons.splice(0);
                    this.emoticons=[
                        {imgSrc: ''},
                        {imgSrc: ''},
                        {imgSrc: ''},
                        {imgSrc: ''}
                    ]
                    $('.emoticon_upload .emoticon_info_file .name').value = null
                    $('.emoticon_upload .emoticon_info_file .description').value = null
                    $('.emoticon_upload .emoticon_info_file [type=file]').value = null
                },
                changeMode: function() {
                    if (this.mode == 'upload') {
                        this.mode = 'remove'
                    } else {
                        this.mode = 'upload'
                    }
                },
            }
        }).mount('.emoticon_upload');
        const emoticonUpload = () => {
            if ($$('.emoticon_upload .emoticon_file [type=file]').length<4) {
                showAlert('이모티콘 개수는 최소 4개입니다.');
                return;
            }
            const files = new FormData();
            files.append('name', $('.emoticon_upload .emoticon_info_file .name').value);
            files.append('description', $('.emoticon_upload .emoticon_info_file .description').value);
            files.append('file', $('.emoticon_upload .emoticon_info_file [type=file]').files[0])
            let emoticons = {}
            $$('.emoticon_upload .emoticon_file [type=file]').forEach(e => {
                const name = e.files[0].name.split('.')[0]
                const ext = e.files[0].name.split('.')[e.files[0].name.split('.').length-1];
                const idx = parseInt(e.getAttribute('id').split('_')[1])+1;
                emoticons[name] = {};
                emoticons[name].idx = idx
                emoticons[name].type = ext
                files.append('files', e.files[0]);
            });
            files.append('emoticons', JSON.stringify(emoticons));
            ajax({
                method:'post',
                payload:files,
                url:'/emoticon',
                success: data => {
                    alert("업로드에 성공하였습니다");
                    emoticonFilesView.init()
                    popupClose($('.emoticon_upload_box'))
                }
            })
        }
    </script>
    <%- include('../common/header') %>
</body>
</html>