<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/index.css">
    <title>BSM - 부산소마고 지원 서비스</title>
    <meta property="title" content="BSM - 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="BSM - 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <script>
        let installed = true;
        let prompt;
        window.addEventListener('beforeinstallprompt', function(e){
            // Prevent the mini-infobar from appearing on mobile
            e.preventDefault();
            // Stash the event so it can be triggered later.
            prompt = e;
            installed = false;
        });
    </script>
</head>
<body>
    <%- include('../common/common') %>
    <div id="background_rainbow"></div>
    <main>
        <section id="quick_menu">
            <ul id="quick_menu_list">
                <li class="menu user">
                    <a v-if="user.isLogin" :href="`/user/${user.code}`">
                        <img v-if="user.isLogin" :src="`/resource/user/profile_images/profile_${user.code}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="user_profile">
                        <div>
                            <div class="user_info">{{user.grade}}학년 {{user.classNo}}반 {{user.studentNo}}번 {{user.studentName}}</div>
                            <div class="user_name">{{user.nickname}}</div>
                        </div>
                    </a>
                    <a v-if="!user.isLogin" onclick="showLoginBox()">로그인</a>
                </li>
                <li class="menu meal">
                    <a href="/meal">
                        <img src="/resource/common/images/meal.svg" alt="meal" class="icon">
                        <span>급식</span>
                    </a>
                </li>
                <li class="menu meister">
                    <a href="/meister">
                        <img src="/resource/common/images/person.svg" alt="meister" class="icon">
                        마이스터 인증제
                    </a>
                </li>
                <li class="menu timetable">
                    <a href="/timetable">
                        <img src="/resource/common/images/timetable.svg" alt="timetable" class="icon">
                        시간표
                    </a>
                </li>
                <li class="menu community">
                    <a href="/board/board">
                        <img src="/resource/common/images/people.svg" alt="board" class="icon">
                        자유게시판
                    </a>
                </li>
                <li class="menu community">
                    <a href="/board/anonymous">
                        <img src="/resource/common/images/people.svg" alt="anonymous board" class="icon">
                        익명게시판
                    </a>
                </li>
                <li class="menu community">
                    <a href="/board/notice">
                        <img src="/resource/common/images/bell.svg" alt="notice" class="icon">
                        공지사항
                    </a>
                </li>
                <li class="menu bsm_cloud">
                    <a href="https://drive.bssm.kro.kr/">
                        <img src="/resource/common/images/cloud.svg" alt="bsm cloud" class="icon">
                        BSM Cloud
                    </a>
                </li>
            </ul>
        </section>
        <div class="container">
            <img src="/icons/icon-512x512.png" alt="로고" class="main_logo">
            <h1 class="main">아주 환상적인 학교 지원 서비스</h1>
            <br>
            <a href="#download" class="button accent">BSM앱 다운로드</a>
            <br><br><br><br>
            <div class="section_wrap">
                <section>
                    <h2 class="main">v1.4.0 Update!</h2>
                    <br>
                    <h3>What's new?</h3>
                    <br><br>
                    <br><br>
                    <div class="service_wrap update v1_4_0">
                        <div class="service">
                            <div class="left_wrap">
                                <h5>새로워진 홈 화면</h5>
                                <p>완전히 새로워진 홈화면으로 원하는 서비스를 바로 사용해보세요</p>
                            </div>
                            <div class="right_wrap image"><div></div></div>
                        </div>
                        <div class="service">
                            <a href="/meister" class="left_wrap image"><div></div></a>
                            <div class="right_wrap">
                                <h5>상벌점 간편 확인</h5>
                                <p>비밀번호 입력없이 상벌점을 바로 확인할 수 있습니다</p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="left_wrap">
                                <h5>검색 기능 삭제</h5>
                                <p>별로 사용하지 않는 기능이어서 이번 업데이트에서 삭제되었습니다</p>
                                <p>없애고 나니까 남는 공간이 뭔가 허전하네요</p>
                            </div>
                            <div class="right_wrap image"><div></div></div>
                        </div>
                        <div class="service">
                            <div class="left_wrap image"><div></div></div>
                            <div class="right_wrap">
                                <h5>코드 최적화</h5>
                                <p>서버 코드가 많이 변경되었습니다</p>
                                <p>그만큼 사이트 반응속도도 조금 빨라졌어요</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="main">
                </section>
                <section>
                    <h3>부산소마고 지원 서비스</h3>
                    <br>
                    <h4>이 학교에서 살아남기 위해 필요한 서비스들</h4>
                    <br><br>
                    <div class="service_wrap info">
                        <div class="service">
                            <div class="left_wrap">
                                <h5>급식</h5>
                                <p>알림을 통해서도 급식정보를 받을 수 있습니다</p>
                            </div>
                            <a href="/meal" class="right_wrap image"><div></div></a>
                        </div>
                        <div class="service">
                            <a href="/timetable" class="left_wrap image"><div></div></a>
                            <div class="right_wrap">
                                <h5>시간표</h5>
                                <p>지금이 무슨시간인지 알아보세요</p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="left_wrap">
                                <h5>마이스터 역량인증제</h5>
                                <p>역량인증제 점수와 상벌점을 볼 수 있습니다</p>
                            </div>
                            <a href="/meister" class="right_wrap image"><div></div></a>
                        </div>
                        <div class="service">
                            <a href="/board/board" class="left_wrap image"><div></div></a>
                            <div class="right_wrap">
                                <h5>커뮤니티</h5>
                                <p>다른 친구들과 이야기를 나눠보세요</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="download">
                </section>
                <section>
                    <h3>이 멋진 서비스를 앱에서도</h3>
                    <br>
                    <h4>다운로드</h4>
                    <br><br>
                    <div class="download_button_wrap">
                        <a class="download_button button accent" onclick="
                            if(navigator.platform && /Mac|iPad|iPhone|iPod/.test(navigator.platform)){
                                showAlert('설치할 수 없는 브라우저입니다.');
                            }else{
                                if('serviceWorker' in navigator){
                                    if(installed){
                                        showAlert('이미 설치되어 있습니다.');
                                    }else{
                                        prompt.prompt();
                                    }
                                }else{
                                    showAlert('설치할 수 없는 브라우저입니다.');
                                }
                            }">
                            <div class="left_wrap">
                                <img src="/resource/common/images/download.png" class="download_image">
                            </div>
                            <div class="right_wrap">
                                <p>Web App</p>
                                <p>Ver. 1.4.0.7</p>
                            </div>
                        </a>
                    </div>
                    <br>
                    <h4>안드로이드 네이티브 앱은 지원이 종료되었습니다</h4>
                    <h4>웹 앱을 다운 받아주세요</h4>
                </section>
                <footer>
                    <p>부산 소프트웨어 마이스터고 학교 지원 서비스</p>
                    <p>Copyright 2021. BSM TEAM all rights reserved.</p>
                    <p>2021 BSSM Project</p>
                </footer>
            </div>
        </div>
    </main>
    <%- include('../common/header') %>
    <script>
        ajax({
            method:'get',
            url:'account/islogin'
        })
    </script>
</body>
</html>