<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/index.css">
    <title>BSM - 부산소마고 지원 서비스</title>
    <meta property="title" content="BSM - 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="BSM - 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <script>
        let installed = true;
        let prompt;
        window.addEventListener('beforeinstallprompt', function(e){
            // Prevent the mini-infobar from appearing on mobile
            e.preventDefault();
            // Stash the event so it can be triggered later.
            prompt = e;
            installed = false;
        });
    </script>
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <div class="container">
            <img src="/icons/icon-512x512.png" alt="로고" class="main_logo">
            <h1 class="main">아주 환상적인 학교 지원 서비스</h1>
            <br>
            <a href="#download" class="button blue_button">BSM앱 다운로드</a>
            <br><br><br><br>
            <div class="section_wrap">
                <section>
                    <h2 class="main">v1.2.0 Update!</h2>
                    <br>
                    <h3>What's new?</h3>
                    <br><br>
                    <br><br>
                    <div class="service_wrap update">
                        <div class="service">
                            <div class="left_wrap">
                                <h5>마이스터 역량인증제 점수</h5>
                                <p>이제 역량인증제 점수를 볼 수 있습니다</p>
                            </div>
                            <a href="/meister" class="right_wrap image"><div></div></a>
                        </div>
                        <div class="service">
                            <a href="/board/notice/3" class="left_wrap image"><div></div></a>
                            <div class="right_wrap">
                                <h5>커뮤니티 대댓글 기능</h5>
                                <p>이제 더이상 답글을 달기위해 ㄴ을 달지 않아도 됩니다</p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="left_wrap">
                                <h5>공지사항</h5>
                                <p>이제 중요한 내용은 공지사항에 올라옵니다</p>
                            </div>
                            <a href="/board/notice" class="right_wrap image"><div></div></a>
                        </div>
                        <div class="service">
                            <div class="left_wrap image"><div></div></div>
                            <div class="right_wrap">
                                <h5>로딩스크린</h5>
                                <p>이제 서버와 통신할때는 로딩스크린이 뜹니다</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="main">
                </section>
                <section>
                    <h3>부산소마고 지원 서비스</h3>
                    <br>
                    <h4>이 학교에서 살아남기 위해 필요한 서비스들</h4>
                    <br><br>
                    <div class="service_wrap info">
                        <div class="service">
                            <div class="left_wrap">
                                <h5>급식</h5>
                                <p>알림을 통해서도 급식정보를 받을 수 있습니다</p>
                            </div>
                            <a href="/meal" class="right_wrap image"><div></div></a>
                        </div>
                        <div class="service">
                            <a href="/timetable" class="left_wrap image"><div></div></a>
                            <div class="right_wrap">
                                <h5>시간표</h5>
                                <p>지금이 무슨시간인지 알아보세요</p>
                            </div>
                        </div>
                        <div class="service">
                            <div class="left_wrap">
                                <h5>마이스터 역량인증제</h5>
                                <p>역량인증제 점수와 상벌점을 볼 수 있습니다</p>
                            </div>
                            <a href="/meister" class="right_wrap image"><div></div></a>
                        </div>
                        <div class="service">
                            <a href="/board/board" class="left_wrap image"><div></div></a>
                            <div class="right_wrap">
                                <h5>커뮤니티</h5>
                                <p>다른 친구들과 이야기를 나눠보세요</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="download">
                </section>
                <section>
                    <h3>이 멋진 서비스를 앱에서도</h3>
                    <br>
                    <h4>다운로드</h4>
                    <br><br>
                    <div class="download_button_wrap">
                        <a class="webapp_install_button download_button button" onclick="
                            if(navigator.platform && /Mac|iPad|iPhone|iPod/.test(navigator.platform)){
                                showAlert('설치할 수 없는 브라우저입니다.');
                            }else{
                                if('serviceWorker' in navigator){
                                    if(installed){
                                        showAlert('이미 설치되어 있습니다.');
                                    }else{
                                        prompt.prompt();
                                    }
                                }else{
                                    showAlert('설치할 수 없는 브라우저입니다.');
                                }
                            }">
                            <div class="left_wrap">
                                <img src="/resource/common/images/download.png" class="download_image">
                            </div>
                            <div class="right_wrap">
                                <p>Web App</p>
                                <p>Ver. 1.2.0.32</p>
                            </div>
                        </a>
                    </div>
                    <br>
                    <h4>안드로이드 네이티브 앱은 지원이 종료되었습니다</h4>
                    <h4>웹 앱을 다운 받아주세요</h4>
                </section>
                <footer>
                    <p>부산 소프트웨어 마이스터고 학교 지원 서비스</p>
                    <p>Copyright 2021. BSM TEAM all rights reserved.</p>
                    <p>2021 BSSM Project</p>
                </footer>
            </div>
        </div>
    </main>
    <%- include('../common/header') %>
</body>
</html>