<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/meal.css">
    <title>급식표 - BSM</title>
    <meta property="title" content="급식표 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="급식표 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title">
            <h1>급식</h1>
            <h2 class="meal_date">x월x일</h2>
            <button class="button" onclick="mealSubscribe();">급식 알림받기</button>
            <br><br>
            <p>알림은 급식 1시간 전에 도착합니다.</p>
            <script src="/js/subscribe.js"></script>
        </div>
        <div class="container">
            <div class="information">
                <div class="meals center">
                    <div class="meal meal-1" onclick="today.setDate(today.getDate()-1);mealRefresh();" onmouseover="$('.meal-1').addClass('hover-meal');$('.meal-2').removeClass('hover-meal');" onmouseout="$('.meal-1').removeClass('hover-meal');$('.meal-2').addClass('hover-meal');">
                        <div class="meal_time">아침</div>
                        <div class="meal_menu" v-if="!morning">급식이 없습니다.</div>
                        <div class="meal_menu" v-if="morning" v-html="morning"></div>
                    </div>
                    <div class="meal meal-2 hover-meal">
                        <div class="meal_time">점심</div>
                        <div class="meal_menu" v-if="!lunch">급식이 없습니다.</div>
                        <div class="meal_menu" v-if="lunch" v-html="lunch"></div>
                    </div>
                    <div class="meal meal-3" onclick="today.setDate(today.getDate()+1);mealRefresh();" onmouseover="$('.meal-3').addClass('hover-meal');$('.meal-2').removeClass('hover-meal');" onmouseout="$('.meal-3').removeClass('hover-meal');$('.meal-2').addClass('hover-meal');">
                        <div class="meal_time">저녁</div>
                        <div class="meal_menu" v-if="!dinner">급식이 없습니다.</div>
                        <div class="meal_menu" v-if="dinner" v-html="dinner"></div>
                    </div>
                    <script src="/js/etc/meal.js"></script>
                </div>
            </div>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>