<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/meal.css">
    <title>급식표 - BSM</title>
    <meta property="title" content="급식표 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="급식표 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title">
            <h1>급식</h1>
            <h2 class="food_date">x월x일</h2>
            <button class="button" onclick="mealSubscribe();">급식 알림받기</button>
            <br><br>
            <p>알림은 급식 1시간 전에 도착합니다.</p>
            <script src="/js/subscribe.js"></script>
        </div>
        <div class="container">
            <div class="information">
                <div class="foods center">
                    <div class="food food-1" onclick="today.setDate(today.getDate()-1);food_refresh();" onmouseover="$('.food-1').addClass('hover-food');$('.food-2').removeClass('hover-food');" onmouseout="$('.food-1').removeClass('hover-food');$('.food-2').addClass('hover-food');">
                        <div class="food_time">아침</div>
                        <div class="food_menu"></div>
                    </div>
                    <div class="food food-2 hover-food">
                        <div class="food_time">점심</div>
                        <div class="food_menu"></div>
                    </div>
                    <div class="food food-3" onclick="today.setDate(today.getDate()+1);food_refresh();" onmouseover="$('.food-3').addClass('hover-food');$('.food-2').removeClass('hover-food');" onmouseout="$('.food-3').removeClass('hover-food');$('.food-2').addClass('hover-food');">
                        <div class="food_time">저녁</div>
                        <div class="food_menu"></div>
                    </div>
                    <script src="/js/etc/meal.js"></script>
                </div>
            </div>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>