<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/memberinfo.css">
    <title>유저정보 - BSM</title>
    <meta property="title" content="유저정보 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 기숙사 지원 서비스">
    <meta property="og:title" content="유저정보 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 기숙사 지원 서비스">
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title">
            <h1>유저 정보</h1>
        </div>
        <div class="container">
            <div class="information">
                <div class="member_info_wrap">
                    <div class="member_info" v-show="memberType!='deleted'">
                        <div class="left_wrap">
                            <img :src="`/resource/member/profile_images/profile_${memberCode}.png`" onerror="this.src='/resource/member/profile_images/profile_default.png'" alt="" class="user_profile">
                        </div>
                        <div class="right_wrap">
                            <div class="top_wrap">
                                <span class="member_nickname">{{memberNickname}}</span>
                                <span class="member_created" v-show="memberType=='active'">{{memberCreated}} 가입</span>
                            </div>
                            <div class="bottom_wrap">
                                <span class="student_info" v-show="memberType=='active'">{{memberGrade}}학년 {{memberClass}}반 {{memberStudentNo}}번 {{memberName}}</span>
                                <span class="member_level">권한 수준: {{memberLevel}}</span>
                                <span class="member_enrolled" v-show="memberType=='active'">{{memberEnrolled}}년 입학</span>
                                <span class="member_code">멤버 코드: {{memberCode}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="user_profile_menu" v-if="permission">
                        <form class="profile_upload" method="post" autocomplete="off" enctype="multipart/form-data" action="javascript://" onsubmit="profileUpload();return false;">
                            <input type="file" name="file" required>
                            <button type="submit" class="button">프로필 이미지 업로드</button>
                        </form>
                        <div class="button" onClick="popupOpen($('.pw_reset_box'))">비밀번호 재설정</div>
                    </div>
                </div>
                <script>
                    const memberInfoView = new Vue({
                        el:'.member_info_wrap',
                        data:{
                            memberType:"",
                            memberCode:0,
                            memberNickname:"",
                            memberLevel:0,
                            memberCreated:0,
                            memberEnrolled:0,
                            memberGrade:0,
                            memberClass:0,
                            memberStudentNo:0,
                            memberName:"",
                            permission:false
                        }
                    })
                    const memberInfo = () => {
                        ajax({
                            method:'get',
                            url:`/account/<%- memberCode %>`,
                            callBack:data=>{
                                memberInfoView.memberType=data.member.memberType;
                                if(data.member.memberType=="active"){
                                    memberInfoView.memberCode=data.member.memberCode;
                                    memberInfoView.memberNickname=data.member.memberNickname;
                                    memberInfoView.memberLevel=data.member.memberLevel;
                                    memberInfoView.memberCreated=data.member.memberCreated.split(' ')[0];
                                    memberInfoView.memberEnrolled=data.member.memberEnrolled;
                                    memberInfoView.memberGrade=data.member.memberGrade;
                                    memberInfoView.memberClass=data.member.memberClass;
                                    memberInfoView.memberStudentNo=data.member.memberStudentNo;
                                    memberInfoView.memberName=data.member.memberName;
                                    memberInfoView.permission=data.member.permission;
                                }else if(data.member.memberType=="anonymous"){
                                    memberInfoView.memberCode=-1;
                                    memberInfoView.memberNickname="Anonymous";
                                    memberInfoView.memberLevel=0;
                                    memberInfoView.permission=data.member.permission;
                                    showAlert("익명 프로필입니다");
                                }else if(data.member.memberType=="deleted"){
                                    memberInfoView.memberCode=data.member.memberCode;
                                    memberInfoView.permission=data.member.permission;
                                    showAlert("삭제된 계정입니다");
                                }
                            }
                        })
                    }
                    memberInfo();
                </script>
            </div>
            <script>
                const profileUpload = () => {
                    const form = $('.profile_upload');
                    const formData = new FormData(form);
                    ajax({
                        method:'post',
                        payload:formData,
                        url:'/account/profileUpload',
                        callBack:data=>{
                            alert("업로드에 성공하였습니다.\n캐시때문에 사진이 변경되지 않을 수 있으니\n기다리거나 캐시 삭제를 해주시면 됩니다");
                            window.location.reload();
                        }
                    })
                }
            </script>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>