<!DOCTYPE HTML>
<html lang="kr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/etc/board.css">
    <%- include('../common/head') %>
    <title>글쓰기 - BSM</title>
    <meta property="title" content="글쓰기 - BSM | 부산소마고 지원 서비스">
    <meta property="og:title" content="글쓰기 - BSM | 부산소마고 지원 서비스">
    <script src="/js/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <div class="title">
            <h1>글쓰기</h1>
        </div>
        <div class="container">
            <%- include('../common/emoticonBox') %>
            <form id="post_write" autocomplete="off">
                <input type="text" name="title" placeholder="제목" class="input_text" style="width:100%;" required autofocus>
                <textarea name="content" style="width:100%"></textarea>
                <br><br>
                <input type="submit" value="글작성" class="button accent">
            </form>
            <br>
        </div>
    </main>
    <script src="/js/etc/board/postWrite.js"></script>
    <%- include('../common/header') %>
</body>
</html>