<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/timetable.css">
    <title>시간표 - BSM</title>
    <meta property="title" content="시간표 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="시간표 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <div class="title">
          <h1>시간표</h1>
        </div>
        <div class="container">
            <span class="information">
                <div class="timetable_select">
                    <span class="dropdown_menu select_grade">
                        <span class="select button">학년</span>
                        <ul class="dropdown_content">
                            <li class="option" onclick="$('.select_grade .select').innerText=this.innerText;changeSelect(1, 0)">1학년</li>
                            <li class="option" onclick="$('.select_grade .select').innerText=this.innerText;changeSelect(2, 0)">2학년</li>
                            <li class="option" onclick="$('.select_grade .select').innerText=this.innerText;changeSelect(3, 0)">3학년</li>
                        </ul>
                    </span>
                    <span class="dropdown_menu select_class">
                        <span class="select button">반</span>
                        <ul class="dropdown_content">
                            <li class="option" onclick="$('.select_class .select').innerText=this.innerText;changeSelect(0, 1)">1반</li>
                            <li class="option" onclick="$('.select_class .select').innerText=this.innerText;changeSelect(0, 2)">2반</li>
                            <li class="option" onclick="$('.select_class .select').innerText=this.innerText;changeSelect(0, 3)">3반</li>
                            <li class="option" onclick="$('.select_class .select').innerText=this.innerText;changeSelect(0, 4)">4반</li>
                        </ul>
                    </span>
                </div>
                <table class="class_time center"><tbody>
                    <th></th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                </tbody></table>
                <br>
                <p class="time"></p>
                <p class="clock"></p>
                <p>시간표가 변동될 수 있습니다.</p>
            </span>
        </div>
    </main>
    <%- include('../common/header') %>
    <script src="/js/etc/timetable.js"></script>
</body>
</html>