<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/timetable.css">
    <title>시간표 - BSM</title>
    <meta property="title" content="시간표 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
    <meta property="og:title" content="시간표 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 지원 서비스">
</head>
<body>
    <%- include('../common/header') %>
    <main>
        <div class="title">
          <h1>시간표</h1>
        </div>
        <div class="container">
            <span class="information">
                <div class="timetable_select">
                    <ul class="select_grade">
                        <li onclick="changeSelect(1, 0)">1학년</li>
                        <li onclick="changeSelect(2, 0)">2학년</li>
                        <li onclick="changeSelect(3, 0)">3학년</li>
                    </ul>
                    <ul class="select_class">
                        <li onclick="changeSelect(0, 1)">1반</li>
                        <li onclick="changeSelect(0, 2)">2반</li>
                        <li onclick="changeSelect(0, 3)">3반</li>
                        <li onclick="changeSelect(0, 4)">4반</li>
                    </ul>
                </div>
                <table class="class_time center"><tbody>
                    <th></th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                </tbody></table>
                <br>
                <p class="time"></p>
                <p class="clock"></p>
                <script>
                    let classTimeTable=[];
                    let grade, classNo, i, j, times, day, hour, min, sec, time, last_day=0,last_time=0, classTimeStr, classTime;
                    const classTimes=[[8, 40, 9, 30], [9, 40, 10, 30], [10, 40, 11, 30], [11, 40, 12, 30], [12, 30, 13, 20], [13, 20, 14, 10], [14, 20, 15, 10], [15, 20, 16, 10], [16, 20, 18, 00], [18, 00, 18, 50], [19, 0, 20, 40]];
                    if(member.grade==null){
                        grade = 1
                    }
                    else{
                        grade = member.grade
                    }
                    if(member.classNo==null){
                        classNo = 1
                    }
                    else{
                        classNo = member.classNo
                    }
                    const changeSelect = (paramGrade, paramClassNo) => {
                        if(paramGrade)
                        grade=paramGrade;
                        if(paramClassNo)
                        classNo=paramClassNo;
                        $('.timetable_select ul li').removeClass('active')
                        $('.select_grade li:nth-child('+(grade)+')').addClass('active')
                        $('.select_class li:nth-child('+(classNo)+')').addClass('active')
                        timetableRefresh(grade, classNo)
                    }
                    const timetableRefresh = (grade, classNo) => {
                        $.ajax({
                            type:'GET',
                            url:apiUrl+'/timetable/'+grade+'/'+classNo,
                            cache:false,
                            success:data => {
                                data=JSON.parse(data);
                                if(data.status!=1){
                                    error_code(data.status);
                                }else{
                                    if(data.arrTimetable==null){
                                        showAlert("시간표 데이터가 없는 반 입니다.")
                                        classTimeTable=[]
                                    }else{
                                        classTimeTable = data.arrTimetable
                                    }
                                    timetableInit()
                                    updateTimeTable()
                                }
                            },
                            error:() => {
                                error_code(0, 0);
                            }
                        });
                    }
                    timetableRefresh(grade, classNo)
                    const timetableInit = () => {
                        $('tbody').html('<tr><th></th><th>월</th><th>화</th><th>수</th><th>목</th><th>금</th></tr>')
                        for(i=0;i<classTimes.length;i++){
                            $('tbody').append('<tr><td>' + classTimes[i][0] + ':' + classTimes[i][1] + '~' + classTimes[i][2] + ':' + classTimes[i][3] + '</td><td></td><td></td><td></td><td></td><td></td></tr>')
                        }
                    }
                    $('.select_grade li:nth-child('+(grade)+')').addClass('active')
                    $('.select_class li:nth-child('+(classNo)+')').addClass('active')
                    times=new Date();
                    day=times.getDay();
                    hour=times.getHours();
                    min=times.getMinutes();
                    sec=times.getSeconds();
                    time=(hour*60)+min;
                    $(".clock").text(hour+':'+min+':'+sec);
                    updateTimeTable();
                    $(document).ready(function(){
                        setInterval(function(){
                            times=new Date();
                            day=times.getDay();
                            hour=times.getHours();
                            min=times.getMinutes();
                            sec=times.getSeconds();
                            time=(hour*60)+min;
                            $(".clock").text(hour+':'+min+':'+sec);
                            if(time!=last_time){
                                updateTimeTable();
                            }
                            last_time=time;
                        }, 500);
                    });
                    function updateTimeTable(){
                        classTime=null;
                        $('td').removeClass('active_day');
                        $('td').removeClass('active_time');
                        for(i=0;i<classTimeTable.length;i++){
                            for(j=0;j<classTimeTable[i].length;j++){
                                if(day-1==i){
                                    if(((hour*60)+min>=(classTimes[j][0]*60)+classTimes[j][1]) && ((hour*60)+min<(classTimes[j][2]*60)+classTimes[j][3])){
                                        classTime=classTimeTable[i][j];
                                        $('tbody tr:nth-child('+(j+2)+') td:nth-child('+(i+2)+')').addClass('active_time');
                                    }
                                    $('tbody tr:nth-child('+(j+2)+') td:nth-child('+(i+2)+')').addClass('active_day');
                                }
                                $('tbody tr:nth-child('+(j+2)+') td:nth-child('+(i+2)+')').text(classTimeTable[i][j])
                            }
                        }
                        if(classTime==null){
                            if((hour*60)+min>(20*60)+40 || (hour*60)+min<(8*60)+40){
                                $('.time').text('하루 일과 끝');
                            }else{
                                $('.time').text('현재 쉬는 시간중');
                            }
                        }else{
                            $('.time').text('현재 '+classTime+' 시간중');
                        }
                        last_day=day;
                    }
                </script>
                <p>시간표가 변동될 수 있습니다.</p>
            </span>
        </div>
    </main>
    <%- include('../common/loginBox') %>
</body>
</html>