<!DOCTYPE HTML>
<html lang="kr">
<head>
    <%- include('../common/head') %>
    <link rel="stylesheet" type="text/css" href="/css/etc/user.css">
    <title>유저정보 - BSM</title>
    <meta property="title" content="유저정보 - BSM | 부산소마고 지원 서비스">
    <meta property="description" content="부산 소프트웨어 마이스터고 학교 기숙사 지원 서비스">
    <meta property="og:title" content="유저정보 - BSM | 부산소마고 지원 서비스">
    <meta property="og:description" content="부산 소프트웨어 마이스터고 학교 기숙사 지원 서비스">
</head>
<body>
    <%- include('../common/common') %>
    <main>
        <div class="title">
            <h1>유저 정보</h1>
        </div>
        <div class="container">
            <div class="information">
                <div class="user_info_wrap">
                    <div class="user_info" v-show="user.userType != 'deleted'">
                        <div class="left_wrap">
                            <img :src="`/resource/user/profile_images/profile_${user.usercode}.png`" onerror="this.src='/resource/user/profile_images/profile_default.png'" alt="" class="user_profile">
                        </div>
                        <div class="right_wrap">
                            <div class="top_wrap">
                                <span class="user_nickname">{{user.nickname}}</span>
                                <span class="user_created" v-show="user.userType=='active'">{{user.created}} 가입</span>
                            </div>
                            <div class="bottom_wrap">
                                <span class="student_info" v-show="user.userType=='active'">{{user.grade}}학년 {{user.class}}반 {{user.studentNo}}번 {{user.name}}</span>
                                <span class="user_level">권한 수준: {{user.level}}</span>
                                <span class="user_enrolled" v-show="user.userType=='active'">{{user.enrolled}}년 입학</span>
                                <span class="user_code">멤버 코드: {{user.code}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="user_profile_menu" v-show="user.permission">
                        <form id="profile_upload" autocomplete="off">
                            <span class="input_file">
                                <input class="file_name input_text" value="" placeholder="선택된 파일 없음" readonly>
                                <label class="button" for="file">파일 선택</label>
                                <input type="file" name="file" id="file" required onchange="$('.file_name').value=$('#file').value.split('\\').slice(-1)[0]">
                            </span>
                            <button type="submit" class="button">이미지 업로드</button>
                        </form>
                        <div class="button" onClick="popupOpen($('.pw_reset_box'))">비밀번호 재설정</div>
                    </div>
                </div>
            </div>
            <script src="/js/etc/userinfo.js"></script>
        </div>
    </main>
    <%- include('../common/header') %>
</body>
</html>